/*Client Dashboard*/
.drop-mnu{
    display: block;
}
.button-alternate-wrapper{
    float: right;
}
    .button-alternate .more{
        padding-right: 8px;
    }
/*more alternative button*/
    .client-dash-main .prof-slide-fun{
        left: 147px;
        z-index: 10;
    }
 /*full Calendar customize*/
    .fc-toolbar{
        background: #64bc85;
        border-radius: 6px 6px 0 0;
        padding: 15px 0;
        color: #fff;
        border-top: 1px solid #cbcbcb;
        box-shadow: inset 0 -1px 0 rgba(255,255,255,0.8);

    }
        .fc-toolbar h2{
            font-size: 1.4em;
        }
    .fc-corner-left, .fc-corner-right{
        background: none;
        border: none;
        box-shadow: none;
        color: #fff;
    }
    .fc-unthemed th{
        color: #bbbbbb;
        font-size: 1.1em;
        text-align: left;
        font-weight: 300;
    }
    .fc-unthemed td{
        color:#303030!important;
    }
    .fc-state-highlight{
       background:  #ececec !important;
    }
    .fc-head .fc-head-container{
        border: none;
    }
   .fc-ltr .fc-basic-view .fc-day-number{
       text-align: left;
       color: #303030;
       font-size: 0.9em;
   }
   .fc-day-header{
       border-right-color: transparent !important;
       border-bottom: 1px dotted #838383 !important;
   }
   .fc-content{
       padding: 8px 8px 8px 7px;
   }
   .fc-title{
       color: #fff;
       font-size: 0.8em;
       /*border-right: 1px solid rgba(0,0,0,0.5);*/
   }
    .fc-basic-view .fc-day-number {
        padding: 12px;
    }
    .fc-unthemed th {
        padding: 0 0 12px 12px;
    }
/*style for social Influencer in event calendar*/
    .event-fc:before{
        content: "";
        position: absolute;
        top: 0;
        right: 19%;
        border: 1px solid rgba(0,0,0,0.1);
        height:100%;
    }
    .event-fc:after{
        content: "";
        background: url(../img/calendar-icon-sprite.png) no-repeat;
        position: absolute;
        top: 36%;
        right: 1%;
    }
    .event-youtube{
        background: #d61818;
    }
        .event-youtube:after{
            content: "";
            position: absolute;
            width: 17px;
            height: 11px;
            background-position: 0 2px;
        }
        .event-instagram{
            background: #2a8497;
        }
            .event-instagram:after {
                content: "";
                width: 18px;
                height: 14px;
                background-position: -17px 0;
            }
        .event-twitter{

        }
            .event-twitter:after{
                content: "";
                width: 19px;
                height: 14px;
                background-position: -34px 0;
            }
        .event-badoo{
            background: #f48401;
        }
            .event-badoo:after{
                content: "";
                width: 20px;
                height: 20px;
                background-position: -84px 0;
            }
        .event-pinterest{
            background: #bf2929;
        }
            .event-pinterest:after{
                content: "";
                width: 17px;
                height: 18px;
                background-position: -53px 0;
            }
        .event-facebook {
            background: #065293;
        }
            .event-facebook:after{
                top: 28%;
                content: "";
                width: 17px;
                height: 18px;
                background-position: -68px 0;
            }
/*Article client invoices*/
.article-pad{
    padding: 0 15px;
}
.invoices-client{
    margin: 12px 0;
    font-size: 0.8em;
}
    .invoices-item-wrapper {
        margin: 25px 0 40px 0;
    }
    .client-invoices .badge{
        border-radius: 4px;
        background: #fa8d2c;
        color: #fff;
        text-transform: uppercase;
    }
    .client-invoices .more-inv{
        margin-top: 4%;
    }
    .client-invoices .mark-invoices>li:nth-of-type(3){
        right: 21px;
        top: 26px;
        text-align: right;
    }
    .inv-icon{
        padding: 19px 37px;
        border-radius: 6px 0 0 6px;
    }
    /*icon circle*/
    .date-before:before{
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 4px;
    }
    .mark-invoices .glyphicon{
        margin-right: 4px;
    }
    .mark-invoices>li{
        display: table-cell;
        vertical-align: middle;
    }
/*invoices classes (new,paid, unpaid)*/
        /*new*/
    .new-invoice .invoice-color{
        color: #3bb6d9;
    }
    .new-invoice .invoice-bg{
        background: #3bb6d9;
    }
    .new-invoice .date-new:before{
        content: "";
        display: inline-block ;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #3bb6d9;
        margin-right: 4px;
    }
        /*paid*/
    .paid-invoice .invoice-color{
        color: #3bc06d;
    }
    .paid-invoice .invoice-bg{
        background: #6dc28d;
    }
    /*unpaid*/

.unpaid-invoice .invoice-color{
    color: #d51d1d;
}
.unpaid-invoice .invoice-bg{
    background: #d51d1d;
}
/*more invoices*/
    .client-dash-main .more-inv b, .client-dash-main .more-inv span {
       color: #b7b7b7;
    }
/*article overview table*/
.overview .table{
    color: #565656;
    margin: 26px 0 0 47px;
    text-align: center;
    font-size: 0.9em;
    width: 90%;
    vertical-align: middle;
}
    .overview .table th:first-child, .overview .table td:first-child  {
        padding: 20px 52px 20px 0;
        text-align: left;
    }
    .overview  td:first-child {
        font-family: MuseoSansBold, sans-serif;
        color: #6b6b6b;

    }
    /*active cell in table*/
    .overview .table .active-tab-text{
        color: #3bc06d;
    }

.overview .table th:nth-of-type(2){
    text-align: right;
}
    .overview .table th{
        color: #b7b7b7;
        text-align: center;
        font-weight: normal;
        border: 1px solid #d0d0d0;
        border-top: none;
        border-left: none;
        vertical-align: middle;
    }

    .overview .table td {
        border: 1px solid #d0d0d0;
        border-top: none;
        border-left: none;
    }
/*faq in dashboard*/
.faq-wrapper-dash .dote-border{
    margin: 0;
}
.faq-wrapper-dash .answer-item {
    padding-bottom: 0;
}
.faq-wrapper-dash .faq-answer{
    margin-top: 2%;
}
.faq-wrapper-dash .answer-item .answer-par{
    margin: 2% 0;
}
.faq-wrapper-dash .answer-item:last-child{
   padding-bottom: 2%;
}
.faq-wrapper-dash .answer-item .answer-hidden {
    padding-bottom: 1%;
}
/*Social Influencer Report*/
.report-header{
    background: #3bb6d9;
    border-radius: 6px 6px 0 0;
}
    .header-report-inner{
        margin-left: 28px;
        padding: 20px 0 25px 0;
    }
        .icon-report{
            background: url(../img/header-icon-sprite-compr.png) -140px 0;
            width: 30px;
            height: 32px;
            display: inline-block;
            margin-right: 8px;
            position: relative;
            top: 9px;
        }
        .report-header h3{
            margin: 0;
            color: #fff;
            display: inline-block;
            font-size: 1.25em;
        }
    .report-inner{
        margin-top: 6%;
        padding-bottom: 3%;
    }
    .report-inner img{
        width: 100%;
    }

        .report-left,.report-right{
            display: inline-block;
            float: left;
            padding: 0 1%;
        }
        .report-left{
            width: 41%;
        }
        .report-right{
           width: 59%;
            font-size: 1.1em;
            line-height: 2em;
        }
        .report-right p{
            text-align: justify;
            padding-top: 24px;
        }
    .wrap-button{
        margin-top: 4%;
        padding-top: 4%;
        border-top: 1px solid #c8c8c8;
        float: right;
        width: 58%;
    }
        .button-report{
            background-color: #fa8d2c;
            box-shadow: 0 6px 0 #e17a1f;
            width: 100%;
        }
        .button-report:hover{
            background: #2ab151;
            box-shadow: 0 6px 0 #0F9C29;
        }

/*Chat in client dashboard*/
.chat-talk{
    position: absolute;
}
.chat-talk .chat {
    margin-top: 11.4%;
}
.chat-talk .chat-header ul li:nth-of-type(2) {
    float: none;
    position: static;
    margin-left: 36px;
}
.chat-talk .chat-header ul li:nth-of-type(2) a{
    font-family: MuseoSansRegular, sans-serif;
    color: #fff;
}
.chat-talk .chat-header ul li:nth-of-type(2) span{
    color: #fff;
    font-size: 0.8em;
}
.chat-talk i.icon-country{
    display: inline-block;
    position: static;
    margin: 0 11px -4px 0;
}
.chat-talk .select-more{
    padding: 18px 30px;
    color: #7c7c7c;
    font-size: 1.17em;
    border: 1px solid transparent;
    border-left-color: #e6e6e6;
    border-right-color: #e6e6e6;
    box-shadow: inset -1px 0 0 #fff;
}
    .profile-chat-photo img{
        width: 39px;
        height: 39px;
    }
.chat-talk .chat-chatroom li{
    text-align: center;
    margin: 0 15px 0 0;
    border: none;
    padding: 0 0 25px 0;
}
.chat-talk .profile-chat-photo{
    margin-right: 16px;
}
    .chat-talk .chat-conference{
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: ProximaNovaRegular, sans-serif;
    }
    .chat-talk .confer-item:after{
        content: "";
        display: inline-block;
        background: url(../img/dotted-underline.png);
        width: 64%;
        height: 1px;
        text-align: center;
        margin: 3% 0;
    }
    .chat-talk .chat-highlight-el, .old-lazy-load a{
        margin: 0;
        color: #40aecd;
        font-family: ProximaNovaRegular, sans-serif;
        font-weight: 600;
        padding-left: 6px;
    }
    .chat-talk .old-lazy-load .chat-highlight-el {
        font-weight: normal;
    }
    /*chat messages*/
    .chat-talk .chat-chatroom .messages-item{
        padding: 0 16px 0 25px;
    }

        .chat-talk .message-order{
            text-align: left;
        }
    /*Messages*/
    .message-order{
        margin: 0;
        padding: 0;
    }
        .message-order .mess-one{
            display: inline-block;
            width: 74%;
            padding: 20px 18px;
            border: 1px solid #cbcbcb;
            border-radius: 6px;
            margin-left: 14px;
        }
        .chat-talk .chat-chatroom .messages-item{
            margin: 0;

        }
            .chat-talk .messages-item .question{
                text-align: left;
            }
                 .messages-item .question .mess-one{
                   border-color: #c5c5c5;
                    color: #3d3d3d;
                     overflow: hidden;
                }
            .chat-talk .messages-item .answer{
                text-align: right;
            }
                .messages-item .answer .mess-one{
                    background: #f0f0f0;
                    border-color: #c5c5c5;
                    color: #8d8d8d;

                }
                /*modal triangle question post*/
                .question .triangle-first {
                    position: absolute;
                    top: 15px;
                    left: 23px;
                    color: #c5c5c5;
                    font-size: 19px;
                    z-index: -1;
                }
                .question .triangle-second {
                    color: #fff;
                    font-size: 16px;
                    position: absolute;
                    top: 17px;
                    left: 26px;
                    z-index: 2;
                }
                /*modal triangle answer post*/
                .answer .triangle-first {
                    position: absolute;
                    top: 13px;
                    right: -12px;
                    color: #c5c5c5;
                    font-size: 19px;
                    z-index: -1;
                }
                .answer .triangle-second {
                     color: #f0f0f0;
                     font-size: 16px;
                     position: absolute;
                     top: 15px;
                     right: -10px;
                     z-index: 2;
                 }
                .messages-item img.photo-in-message{
                    display: inline-block;
                    float: left;
                    width: 50px;
                    height: 50px;
            }
            .mess-item{
                position: relative;
                z-index: 10;
            }
/*textarea*/
.chat-message-wrapper{
    margin-top: 60px;
    padding-bottom: 25px;
    position: relative;
}
    .message-textarea{
        direction: ltr;
        width: 398px;
        height: 203px;
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        text-align: left;
        margin: 0 auto;
        outline: none;
        color: #3d3d3d;
    }
    .message-textarea .reverse-mes{
        direction: rtl;
        width: 90%;
        height: 100%;
        outline: none;
        padding: 0 20px;
        margin-left: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-right: 1px solid #bbbbbb;
    }
         .reverse-mes div{
             outline: none;
             direction: ltr!important;
             height: 100%;
         }
    .send-message{
        position: absolute;
        top: 39%;
        right: 7%;
        display: inline-block;
        height: 100%;
    }
    .send-message span{
        font-size: 18px;
        font-weight: bold;
        color: #bcbcbc;
        cursor: pointer;
    }
/*table respond calendar*/
.calendar-event-respond{
    width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.2em;
    margin: 0;
}
    .calendar-res-caption{
        width: 100%;
        background: #4dc179;
        border-radius: 6px 6px 0 0;
        color: #fff;
        padding: 18px 0;
    }
        .calendar-res-caption span{
            color: #fff;
            font-size: 24px;
            padding: 0 14px;
        }
    caption .calendar-res-caption h6{
        font-size: 1.2em;
        font-weight: 300;
        line-height: 2.2em;
        padding-top: 9px;
    }
    .calendar-event-respond img{
        width: 50px;
    }
    .calendar-event-respond caption{
        padding: 0;
    }
    .calendar-event-respond tr td{
        border-right: 1px solid #d5d5d5;
        vertical-align: middle!important;
    }
    .calendar-event-respond tr td:nth-of-type(1){
        border-right: none;
        color: #c0c0c0;
        padding-left: 24px;
        width: 10%;
    }
    .calendar-event-respond tr td:nth-of-type(2){
        width: 10%;
    }
    .calendar-event-respond tr td:nth-of-type(3){
        width: 20%;
    }

