/*Client Dashboard*/
.button-alternate-wrapper{
    float: right;
}
.button-alternate{
    display: inline-block;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font: 0.84em "MuseoSansBold", sans-serif;
    text-transform: uppercase;
    padding: 13px 20px;
    margin-left: 25px;
}
    .button-alternate .more{
        padding-right: 8px;
    }
/*more alternative button*/
    .client-dash-main .prof-slide-fun{
        left: 147px;
        z-index: 10;
    }
 /*full Calendar customize*/
    .fc-toolbar{
        background: #64bc85;
        border-radius: 6px 6px 0 0;
        padding: 15px 0;
        color: #fff;
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid rgba(255,255,255,0.6);
    }
        .fc-toolbar h2{
            font-size: 1.4em;
        }
    .fc-corner-left, .fc-corner-right{
        background: none;
        border: none;
        box-shadow: none;
        color: #fff;
    }
    .fc-unthemed th{
        color: #bbbbbb;
        font-size: 1.1em;
        text-align: left;
        font-weight: 300;
    }
    .fc-unthemed td{
        color:#303030!important;
    }
    .fc-state-highlight{
       background:  #ececec !important;
    }
    .fc-head .fc-head-container{
        border: none;
    }
   .fc-ltr .fc-basic-view .fc-day-number{
       text-align: left;
       color: #303030;
       font-size: 0.9em;
   }
   .fc-day-header{
       border-right-color: transparent !important;
       border-bottom: 1px dotted #838383 !important;
   }
   .fc-content{
       padding: 8px 8px 8px 7px;
   }
   .fc-title{
       color: #fff;
       font-size: 0.8em;
       /*border-right: 1px solid rgba(0,0,0,0.5);*/
   }
    .fc-basic-view .fc-day-number {
        padding: 12px;
    }
    .fc-unthemed th {
        padding-left: 12px;
    }
/*style for social Influencer in event calendar*/
    .event-fc:before{
        content: "";
        position: absolute;
        top: 0;
        right: 19%;
        border: 1px solid rgba(0,0,0,0.1);
        height:100%;
    }
    .event-fc:after{
        content: "";
        background: url(../img/calendar-icon-sprite.png) no-repeat;
        position: absolute;
        top: 36%;
        right: 1%;
    }
    .event-youtube{
        background: #d61818;
    }
        .event-youtube:after{
            content: "";
            position: absolute;
            width: 17px;
            height: 11px;
            background-position: 0 2px;
        }
        .event-instagram{
            background: #2a8497;
        }
            .event-instagram:after {
                content: "";
                width: 18px;
                height: 14px;
                background-position: -17px 0;
            }
        .event-twitter{
            background: #62c3de;
        }
            .event-twitter:after{
                content: "";
                width: 19px;
                height: 14px;
                background-position: -34px 0;
            }
        .event-badoo{
            background: #f48401;
        }
            .event-badoo:after{
                content: "";
                width: 20px;
                height: 20px;
                background-position: -84px 0;
            }
        .event-pinterest{
            background: #bf2929;
        }
            .event-pinterest:after{
                content: "";
                width: 17px;
                height: 18px;
                background-position: -53px 0;
            }
        .event-facebook {
            background: #065293;
        }
            .event-facebook:after{
                top: 28%;
                content: "";
                width: 17px;
                height: 18px;
                background-position: -68px 0;
            }

/*Article client invoices*/
.article-pad{
    padding: 0 15px;
}
.invoices-client{
    margin: 12px 0;
    font-size: 0.8em;
}
    .invoices-item-wrapper {
        margin: 25px 0 40px 0;
    }
    .client-invoices .badge{
        border-radius: 4px;
        background: #fa8d2c;
        color: #fff;
        text-transform: uppercase;
    }
    .client-invoices .more-inv{
        margin-top: 4%;
    }
    .client-invoices .mark-invoices>li:nth-of-type(3){
        right: 21px;
        top: 26px;
        text-align: right;
    }
    .inv-icon{
        padding: 19px 37px;
        border-radius: 6px 0 0 6px;
    }
    /*icon circle*/
    .date-before:before{
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 4px;
    }
    .mark-invoices .glyphicon{
        margin-right: 4px;
    }
    .mark-invoices>li{
        display: table-cell;
        vertical-align: middle;
    }
/*invoices classes (new,paid, unpaid)*/
        /*new*/
    .new-invoice .invoice-color{
        color: #3bb6d9;
    }
    .new-invoice .invoice-bg{
        background: #3bb6d9;
    }
    .new-invoice .date-new:before{
        content: "";
        display: inline-block ;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #3bb6d9;
        margin-right: 4px;
    }
        /*paid*/
    .paid-invoice .invoice-color{
        color: #3bc06d;
    }
    .paid-invoice .invoice-bg{
        background: #6dc28d;
    }
    /*unpaid*/

.unpaid-invoice .invoice-color{
    color: #d51d1d;
}
.unpaid-invoice .invoice-bg{
    background: #d51d1d;
}
/*more invoices*/
    .client-dash-main .more-inv b, .client-dash-main .more-inv span {
       color: #b7b7b7;
    }
/*article overview table*/
.overview .table{
    color: #565656;
    margin: 26px 0 0 47px;
    text-align: center;
    font-size: 0.9em;
    width: 90%;
    vertical-align: middle;
}
    .overview .table th:first-child, .overview .table td:first-child  {
        padding: 20px 52px 20px 0;
        text-align: left;
    }
    .overview  td:first-child {
        font-family: MuseoSansBold, sans-serif;
        color: #6b6b6b;

    }
    /*active cell in table*/
    .overview .table .active-tab-text{
        color: #3bc06d;
    }

.overview .table th:nth-of-type(2){
    text-align: right;
}
    .overview .table th{
        color: #b7b7b7;
        text-align: center;
        font-weight: normal;
        border: 1px solid #d0d0d0;
        border-top: none;
        border-left: none;
        vertical-align: middle;
    }

    .overview .table td {
        border: 1px solid #d0d0d0;
        border-top: none;
        border-left: none;
    }
/*faq in dashboard*/
.faq-wrapper-dash .dote-border{
    margin: 0;
}
.faq-wrapper-dash .answer-item {
    padding-bottom: 0;
}
.faq-wrapper-dash .faq-answer{
    margin-top: 2%;
}
.faq-wrapper-dash .answer-item .answer-par{
    margin: 2% 0;
}
.faq-wrapper-dash .answer-item .answer-hidden {
    padding-bottom: 1%;
}
/*Social Influencer Report*/
.report-header{
    background: #3bb6d9;
    border-radius: 6px 6px 0 0;
}
    .header-report-inner{
        margin-left: 28px;
        padding: 20px 0 25px 0;
    }
        .icon-report{
            background: url(../img/header-icon-sprite-compr.png) -140px 0;
            width: 30px;
            height: 32px;
            display: inline-block;
            margin-right: 8px;
            position: relative;
            top: 9px;
        }
        .report-header h3{
            margin: 0;
            color: #fff;
            display: inline-block;
            font-size: 1.25em;
        }
    .report-inner{
        margin-top: 6%;
        padding-bottom: 3%;
    }
    .report-inner img{
        width: 100%;
    }

        .report-left,.report-right{
            display: inline-block;
            float: left;
            padding: 0 1%;
        }
        .report-left{
            width: 41%;
        }
        .report-right{
           width: 59%;
            font-size: 1.1em;
            line-height: 2em;
        }
        .report-right p{
            text-align: justify;
            padding-top: 24px;
        }
    .wrap-button{
        margin-top: 4%;
        padding-top: 4%;
        border-top: 1px solid #c8c8c8;
        float: right;
        width: 58%;
    }
        .button-report{
            background-color: #fa8d2c;
            box-shadow: 0 6px 0 #e17a1f;
            width: 100%;
        }
        .button-report:hover{
            background: #2ab151;
            box-shadow: 0 6px 0 #0F9C29;
        }

/*Chat in client dashboard*/
.client-dash-main .chat {
    margin-top: 11%;
}
.client-dash-main .chat-header ul li:nth-of-type(2) {
    float: none;
    margin-left: 36px;
}
.client-dash-main .chat-header ul li:nth-of-type(2) a{
    font-family: MuseoSansRegular, sans-serif;
    color: #fff;
}
.client-dash-main .chat-header ul li:nth-of-type(2) span{
    color: #fff;
}
.client-dash-main i.icon-country{
    display: block;
    position: static;
}

