.right-status-head .bord-s:before {
  content: "";
  height: 32px;
  border-left: 1px solid #fff;
  position: absolute;
  top: 6px;
  left: -23px;
}
.dash-influenser .text-status {
  position: static;
}
.dash-influenser .button-alternate-wrapper {
  float: none;
}
.dash-influenser .header-middle {
  margin-top: 10px;
}
.dash-influenser .dash-influenser .name-acc {
  color: #fff;
}
.dash-influenser i.speaker-plus {
  background-position: 24px 0;
}
.dash-influenser .client-invoices .badge {
  margin-left: 8px;
  padding: 5px 7px;
}
.dash-influenser .actions-item-wrapper {
  margin-top: 24px;
}
.dash-influenser .dote-border {
  width: 100%;
  height: 2px;
  position: static;
  margin: 0;
}
.dash-influenser .more-inv b {
  color: #b7b7b7;
}
.actions-item-inner {
  padding: 25px 0;
}
.actions-item-inner > * {
  display: inline-block;
  vertical-align: middle;
}
.actions-item-inner p {
  color: #464646;
  padding: 0;
  margin: 0;
}
.actions-item-inner p a {
  font-family: MuseoSansBold, sans-serif;
  color: #2fa0c0;
  text-decoration: none;
}
.actions-item-inner span {
  color: #afafaf;
}
.stitches {
  background: url(../img/sprite-action-icon.png) no-repeat;
  display: inline-block;
  margin-right: 18px;
}
.stitches-1 {
  background-position: -5px -5px;
  width: 16px;
  height: 21px;
}
.stitches-2 {
  background-position: -31px -5px;
  width: 20px;
  height: 18px;
}
.stitches-3 {
  background-position: -61px -5px;
  width: 16px;
  height: 16px;
}
.stitches-4 {
  background-position: -87px -5px;
  width: 17px;
  height: 18px;
}
.stitches-5 {
  background-position: -114px -5px;
  width: 18px;
  height: 16px;
}
.conversions-wrap {
  margin-top: 44px;
  position: relative;
}
.conversions-wrap .dote-border {
  padding: 16px 0;
}
.conversions-wrap .messages-item {
  color: #3d3d3d;
  margin: 20px 11px 13px 17px;
}
.conversions-wrap .messages-item .mess-one a {
  font: 1em MuseoSansBold, sans-serif;
  color: #40aecd;
}
.conversions-wrap .messages-item .photo-in-message {
  margin-top: 14px;
}
.conversions-wrap .messages-item .company-label {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  background-color: #f4f4f4;
  position: absolute;
  top: 50px;
  left: 27px;
}
.conversions-wrap .messages-item .company-label img {
  width: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  margin: 15%;
}
.conversions-wrap .messages-item .mess-one {
  padding: 15px 5px 10px 24px;
  width: 78%;
}
.conversions-wrap .messages-item .mess-one:after {
  content: "+";
  color: #a1a1a1;
  font-weight: 100;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: 28%;
  right: 21px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.conversions-wrap .messages-item .time-ago {
  text-align: right;
  font-size: 0.78125em;
  color: #818181;
  margin-right: 10%;
}
.conversions-wrap .messages-item .question .triangle-first {
  top: 27px;
  left: 51px;
}
.conversions-wrap .messages-item .question .triangle-second {
  top: 30px;
  left: 54px;
}
.conversions-wrap .more-inv {
  padding-top: 40px;
}
.dote-vertical:before {
  content: "";
  background: url(../img/dote-border-verical.png) repeat-y;
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 6%;
  left: 0;
}
.offers .offers-wrap {
  padding-bottom: 45px;
}
.offers .offers-wrap-info {
  margin: 46px 46px;
}
.offers .offers-wrap-info > div {
  display: inline-block;
}
.offers .offers-wrap-info:after {
  content: "";
  border: 1px solid #dcdcdc;
  display: block;
  margin-top: 32px;
  height: 0;
}
.offers .offers-wrap .img-brand-cont {
  background: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 45px 5px;
  vertical-align: top;
}
.offers .offers-wrap .offers-info-text {
  max-width: 78%;
  padding: 0 35px;
}
.offers .offers-wrap .offers-info-text h4 {
  font-size: 1.17em;
  font-family: MuseoSansBold, sans-serif;
  color: #32474d;
  margin-top: 2px;
}
.offers .offers-wrap .offers-info-text p {
  text-align: justify;
  color: #535353;
}
.offers .rect-button {
  display: inline-block;
  color: #fff;
  padding: 20px 40px;
  text-transform: uppercase;
  border-radius: 6px;
  font: bold 1em ProximaNovaRegular, sans-serif;
  text-align: center;
}
.offers .rect-button:hover {
  background: #fa8d2c !important;
  color: #fff;
}
.offers .rect-button.accept {
  background: #4dc179;
  margin-right: 10px;
}
.offers .rect-button.decline {
  background: #bf2929;
  min-width: 150px;
}
.offers .offers-more-info {
  margin-left: 58px;
}
.offers .offers-more-info > div {
  display: inline-block;
}
.offers .offers-more-info-left {
  max-width: 29%;
  margin-right: 40px;
}
.offers .offers-more-info-left ul li {
  padding-bottom: 14px;
}
.offers .offers-more-info-right {
  max-width: 69%;
  position: relative;
  padding-left: 45px;
  vertical-align: top;
  padding-bottom: 20px;
}
.offers .offers-more-info-right .mess-item img {
  margin-right: 25px;
}
.offers .offers-more-info-right .mess-item a {
  color: #40aecd;
  font-family: MuseoSansBold, sans-serif;
}
.offers .offers-more-info .price-offer {
  color: #43af6b;
  font-family: ProximaNovaRegular, sans-serif;
  font-size: 1.2em;
}
.offers .offers-more-info .price-offer i {
  background: url(../img/other-ui-sprite.png);
  width: 27px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}
.offers .offers-more-info .offers-soc-icon {
  display: inline-block;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: relative;
  cursor: pointer;
}
.offers .offers-more-info .offers-soc-icon:after {
  background: url(../img/calendar-icon-sprite.png) no-repeat;
}
.offers .offers-more-info .event-offers-badoo {
  background: #f48401;
}
.offers .offers-more-info .event-offers-badoo:after {
  content: "";
  background-position: -86px 0;
  width: 14px;
  height: 15px;
  top: 5px;
  left: 7px;
  position: absolute;
}
.offers .offers-more-info .event-offers-facebook {
  background: #065293;
}
.offers .offers-more-info .event-offers-facebook:after {
  content: "";
  background-position: -70px 0;
  width: 15px;
  height: 17px;
  top: 5px;
  left: 9px;
  position: absolute;
}
.offers .offers-more-info .event-offers-twitter {
  background: #62c3de;
}
.offers .offers-more-info .event-offers-twitter:after {
  content: "";
  background-position: -34px 0;
  width: 19px;
  height: 14px;
  top: 7px;
  left: 7px;
  position: absolute;
}
.offers .offers-more-info .event-offers-youtube {
  background: #d61818;
}
.offers .offers-more-info .event-offers-youtube:after {
  content: "";
  background-position: 0 0;
  width: 17px;
  height: 11px;
  top: 8px;
  left: 7px;
  position: absolute;
}
.offers .offers-more-info .event-offers-pinterest {
  background: #bf2929;
}
.offers .offers-more-info .event-offers-pinterest:after {
  content: "";
  background-position: -53px 0;
  width: 17px;
  height: 18px;
  top: 6px;
  left: 7px;
  position: absolute;
}
.hourglass-icon {
  display: inline-block;
  background: url(../img/other-ui-sprite.png) -33px 0;
  width: 23px;
  height: 21px;
}
.mcdonalds-icon {
  background: url(../img/brand-macDonalds.png);
  display: inline-block;
  width: 30px;
  height: 27px;
}
.dash-influenser .table-overview tr td,
.dash-influenser .table-overview tr th {
  border-right: 1px solid #ddd;
  padding: 24px 20px;
}
.dash-influenser .table-overview tr td:first-child,
.dash-influenser .table-overview tr th:first-child {
  text-align: center;
}
.dash-influenser .table-overview tr td:nth-of-type(2),
.dash-influenser .table-overview tr th:nth-of-type(2) {
  padding-left: 25px;
}
.dash-influenser .table-overview tr td:last-child,
.dash-influenser .table-overview tr th:last-child {
  text-align: right;
  border-right: none;
  padding-right: 25px;
}
.dash-influenser .table-overview tr td:nth-of-type(n+3),
.dash-influenser .table-overview tr th:nth-of-type(n+3) {
  text-align: center;
}
.dash-influenser .table-overview tr td:last-child,
.dash-influenser .table-overview tr th:last-child {
  text-align: right;
}
.dash-influenser .table-overview tr td .glyphicon-ok,
.dash-influenser .table-overview tr th .glyphicon-ok {
  color: #43b56e;
}
.dash-influenser .table-overview .table {
  margin-top: 27px;
}
.dash-influenser .table-overview .table tr th {
  font-family: MuseoSansBold, sans-serif;
  color: #b1b1b1;
}
.dash-influenser .table-overview .table tr td {
  color: #5e5e5e;
}
.dash-influenser .table-overview .table tr td:last-child {
  color: #595959;
  font-family: MuseoSansBold, sans-serif;
}
.dash-influenser .table-overview .status-cell {
  position: relative;
}
.dash-influenser .table-overview .more-inv {
  margin-top: 2%;
}
.status-describe {
  background: #3bb6d9;
  box-shadow: 0 3px 0 #33a4c4;
  font-family: ProximaNovaRegular, sans-serif;
  font-size: 0.6em;
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  position: absolute;
  bottom: -4px;
  left: 6px;
  z-index: 100;
}
.status-describe .triangle {
  border-color: transparent transparent #3bb6d9 transparent;
  top: -4px;
  left: 33px;
  z-index: -1;
}
.request-form-class label {
  display: block;
  padding-bottom: 20px;
  color: #535353;
}
.request-form-class fieldset {
  padding-bottom: 38px;
}
.request-form-class input[type="text"],
.request-form-class textarea {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  width: 100%;
  height: 48px;
  color: #a1a1a1;
  outline: none;
  padding: 10px;
}
.request-form-class textarea {
  height: 180px;
}
.request-form-class input[type="submit"] {
  width: 100%;
  background: #4dc179;
}
.request-form-class input[type="submit"]:hover {
  background: #3bb6d9;
}
.stars-ui {
  background: url(../img/other-ui-sprite.png) -61px 0;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.premium-account-badge {
  background: #fa8d2c;
  padding: 12px 0 12px 18px;
  display: block;
  border-radius: 6px;
}
.premium-account-badge:focus {
  text-decoration: none;
}
.premium-account-badge span {
  color: #fff;
  text-transform: uppercase;
  font-family: ProximaRegular, sans-serif;
  font-weight: bold;
  margin-left: 18px;
}
.request-wrapper {
  padding: 45px 0;
}
.form-request-wrapper-r {
  padding: 0 20px;
}
.form-request-wrapper-r p {
  color: #636363;
  padding: 28px 25px;
  text-align: justify;
}
.form-request-wrapper-r p a {
  color: #33b9df;
  font-size: 1em;
}
.form-request-wrapper-r .item-img {
  background: url(../img/request-img.jpg) 0 74%;
  background-size: cover;
  height: 270px;
  border-radius: 6px;
}
.form-request-wrapper-r .learn-more-premium {
  background: #51c2e2;
  position: relative;
  top: -42px;
  margin: 0 auto;
  display: block;
  padding: 0 55px;
}
.form-request-wrapper-r .learn-more-premium:hover {
  background: #fa8d2c;
}
.requested-wrapper .slogan-page h2 {
  border-bottom: none;
  font-size: 1.2em;
}
