@import "fonts.css";
@import "dashboard.css";
/*Main style*/
html{
    overflow-x: auto;
}
body{
    background: #f2f2f2;
    font-family: MuseoSansRegular, sans-serif;
    font-size: 16px;
    min-width: 320px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.clear{
    clear:both;
}

a{
    font-family: MuseoSansRegular, sans-serif;
    color: #2bafd4;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.wrapper{
    padding-bottom: 80px;
}

/*Header*/
header{
    background: #3bb6d9;
    padding: 15px 0;
    color: rgba(233,241,251,0.9);
    font-size: 0.6em;
}
header a{
    font-family: ProximaNovaRegular, sans-serif;
    color: #fff;
}
.head-wrapper{
    padding-bottom: 14px;
}
.header-left, .header-middle, .header-right, .right-status-head div{
    display: inline-block;
}
.header-left{
    margin: 1% 3% 0 6.4%;
    float: left;
}
/*for adaptive*/

.header-right{
    margin-right: 2.5%;
    float: right;
    margin-top: 12px;
}
.logo img{
    width: 198px;
}
.bell-respon{
    display: none;
}
/*log status person*/
    .log-status{
        font-size: 1.823em;
    }
    .log-status div{
        display: inline-block;
    }
        .photo-wrap{
            width: 58px;
            height: 58px;
            border: 5px solid #f5fbfd;
            border-radius: 50%;
        }
        .photo-wrap img{
            width: 100%;

        }
    .text-status{
        position: relative;
        top: 18px;
        border-right: 1px solid #e9f7fb;
        padding-right: 32px;
    }
    .text-status span.glyphicon-triangle-bottom{
        font-size: 12px;
    }
    .activity-status{
        border: none;
    }
    .activity-status b{
        color: #fff;
    }
        .text-status p{
            padding-bottom: 0;
            margin:  0 0 0 12px ;
        }
        .text-status .name-acc, .ranges{
            font-family: MuseoSansBold, sans-serif;
        }
            .name-acc span{
                margin-left: 4px;
                cursor: pointer;
            }
        .text-status .type-acc{
            font-family: MuseoSansLight, sans-serif;
        }
        /*drop status*/
        .prof-slide-fun {
            background: #f2f2f2;
            position: absolute;
            min-width: 204px;
            min-height: 202px;
            top: 76px;
            border-radius: 6px;
            z-index: 1;
        }
        .prof-slide-fun ul{
            margin-left: 20px;
        }
        /*triangle*/
        .triangle{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 9px 12px 9px;
            border-color: transparent transparent #f2f2f2 transparent;
            position: absolute;
            top: -12px;
            left: 39px;
        }
        .prof-slide-fun li{
            margin: 30px 0 30px 0;
        }
        .prof-slide-fun a{
            color: #565961;
        }
        .prof-slide-fun a span{
            padding-right: 23px;
        }
        .prof-slide-fun a:hover {
            color: #3bb6d9;
            text-decoration: none;
        }
    .right-status-head i{
        background: url(../img/header-icon-sprite-compr.png);
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 12px;
    }
    .right-status-head{
        padding-top: 4px;
    }
    .right-status-head span{
        display: inline-block;
        border-radius: 50%;
        background-color: #fa8d2c;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 25px;
        margin-left: 8px;
    }
    .right-status-head a{
        font-size: 1.7em;
        display: inline-block;
        margin-right: 50px;
        position: relative;
    }
    .right-status-head a.bord-h{
        margin: 0 30px;
    }
    .right-status-head .border{
        border-right: 1px solid #e9f7fb;
        width: 1px;
        height: 50px;
        position: absolute;
        left: -30px;
    }
    .right-status-head a:hover,.right-status-head a:active,.right-status-head a:focus {
        color: #e9f7fb;
    }
    .right-status-head a:last-child{
        margin-right:0;
    }
        i.icon{
            height: 26px;
        }
        i.speaker-plus{
            background-position: 0;
            width: 23px;
        }
        i.speaker{
            background-position: 0;
            width: 15px;
        }
        i.new-action{
            width: 11px;
            background-position: -30px 0;
        }
        i.search{
            width: 26px;
            background-position: -46px 0;
        }
        i.shut{
            width: 28px;
            background-position: -72px 0;
        }
/*global style for section exterior*/
.section-exterior{
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 1px #cbcbcb, 0 0 10px rgba(0,1,1,0.1);
    -moz-box-shadow: inset 0 0 1px #cbcbcb, 0 0 10px rgba(0,1,1,0.1);
    box-shadow: inset 0 0 1px #cbcbcb, 0 0 10px rgba(0,1,1,0.1);
}
/*Section create company*/

.create-comp{
    margin: 4% 0 0 10%;
}
    .create-comp-inner{
        padding: 0 5% 0 4%;

    }
    .slogan-page {
        border-bottom: 1px solid #eeefef;
    }
        .slogan-page h2{
            font: 1.25em/2.6em MuseoSansRegular, sans-serif;
            color: #32474d;
            display: inline-block;
            border-bottom: 1px solid #3c5056;
            margin-bottom: 0;
        }
        .dote-border h3{
            font: 1.2em MuseoSansRegular, sans-serif;
            color: #626262;
            padding-bottom: 38px;

        }
            .dote-border{
                margin-top: 6%;
                background: url(../img/dotted-underline.png) repeat-x bottom center;
            }
            .pad-bottom{
                padding-bottom: 74px;
            }
            .border-left{
                border-left: 1px solid #cdcdcd;
            }
        .types-create{
            margin: 40px 0 0 40px;
        }
            .create-comp h6{
                font-size: 1.1em;
            }
            .types-create p{
                font-size: 0.9em;
                color: #b7b7b7;
                margin-top: 20px;
                text-transform: uppercase;
            }
            /*Gallery category*/
        .type-blog-gallery{
            margin-top: 46px;
        }
    .type-blog-gallery .thumbnail{
        margin: 0 0 42px 0;
        color: #585858;
        font-size: 1em;
        position: relative;
        padding: 0;
    }
    .type-blog-gallery .thumbnail:hover{
        -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
        box-shadow: 0 0 6px rgba(0,0,0,0.3);
    }
    .type-blog-gallery  img{
        min-height: 150px;
        border-radius: 4px 4px 0 0;
    }
    .type-blog-gallery .cat-name{
        text-align: center;
        padding: 15px 0;
        border-top: 1px solid #ddd;
    }
    .type-blog-gallery a.thumbnail:hover, .type-blog-gallery a.thumbnail:active, .type-blog-gallery a.thumbnail:focus {
        text-decoration: none;
        outline-color: transparent;
        border-color: transparent;
    }
    .cat-name-hover{
        background: #3bb6d9;
        color: #fff;
    }

    /*CheckBox in item*/
    .type-blog-gallery input[type=checkbox]{
        position: absolute;
    }
    .type-blog-gallery label{
        background: #fff;
        cursor: pointer;
        border: 1px solid #ddd;
        width: 25px;
        height: 25px;
        position: absolute;
        right: -9px;
        top: 16px;
        border-radius: 4px;
    }
        .type-blog-gallery label span{
            color: #fff;
            text-align: center;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        input:checked + label{
            background: #3bb6d9;
            border: 1px solid #d1d1d1;
            -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.16);
            -moz-box-shadow: 0 0 5px rgba(0,0,0,0.16);
            box-shadow: 0 0 5px rgba(0,0,0,0.16);
        }
        input:checked ~ .cat-name{
            background: #3bb6d9;
            color: #fff;
            text-decoration: none;
        }
.create-comp .current-cat h6{
    padding-bottom: 38px;
}
    .create-comp .current-cat h6 span{
             color: #2bafd4;
         }
.create-comp h6{
    margin-bottom: 20px;
}
     .create-comp h6 span{
         color: #3bc26e;
         padding-bottom: 12px;
        font-family: MuseoSansBold, sans-serif;
     }
        /*customize slider-range*/
    .create-more{
        position: absolute;
        left: -100%;
        top: -2%;
    }
    .create-more .ui-slider{
        width: 98%;
        height: 8px;
        margin: 22px 0;
    }
    .create-more .ui-corner-all, .budget-slider-wrap .ui-corner-all{
      background: #ebebeb;
     }
    .create-more .ui-slider-range{
       background: #aae6c0;
    }
    .create-more .ui-slider-handle, .budget-slider-wrap .ui-slider-handle{
        background: #54c37e;
        border-radius: 50%;
        width: 1.8em;
        height: 1.8em;
        top: -.7em;
        margin-left: -.5em;
    }
    .in-age-wr{
        margin-left: 20%;
        padding-bottom: 40px;
    }
    /*Class Range modal for ui sliders*/
    .range-modal{
        position: relative;
    }
    .range-modal input{
        border:none;
        background: #54c37e;
        border-radius: 8px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        width: 78px;
        padding: 10px;

    }
    .range-modal .triangle {
        border-color: transparent transparent #54c37e transparent;
        top: -9px;
        left: 32px;
    }
    /*Social choosen active*/
.social-choose{
    margin-bottom: 6%;
}
    .social-choose p{
        color: #979797;
        font: 300 1em MuseoSansRegular, sans-serif;
        display: inline-block;
        padding-left: 15px;
    }
       .label-audience{
            height: 24px;
            width: 24px;
            border:1px solid #d1d1d1;
            border-radius: 6px;
           cursor: pointer;
        }
            .label-audience span{
                color: #fff;
                padding: 2px;
            }
        input.checkbox-audience:checked + .label-audience{
            background: #64bc85;
        }

        input.checkbox-audience:checked + .label-audience span{
           color: #fff;
        }
/*iteam social choose*/
.social-wrap{
   padding-top: 30px;
    margin-top: 48%;
}
.item-social{
    min-height: 38px;
    position: relative;
    background: url(../img/social-sprite-grid.jpg);
    margin-bottom: 27px;
}
.social-inner{
    margin-left: 3%;
    padding-right: 3%;
    position: relative;
    left: -8%;
}
  .item-social .label-audience{
      border: none;
      width: 15px;
      height: 15px;
      position: absolute;
      top: -5px;
      right: -12px;
      border-radius: 50%;
      cursor: pointer;
      background: #d9d9d9;
  }
    .item-social .label-audience span{
        padding: 1px;
        color: transparent;
    }
    .facebook{
        background-position: 2px -47px;
    }
        .facebook-active{
            background-position: 2px 3px;
        }

    .google-plus{
        background-position: -533px -46px;
    }
        .google-plus-active{
            background-position: -543px 4px;
        }

    .instagram{
        background-position: -802px -48px;
    }
        .instagram-active{
            background-position: -802px 1px;
        }
    .pinterest{
        background-position: -405px -48px;
    }
        .pinterest-active {
            background-position: -410px 8px;
        }
    .linkid{
        background-position: -1068px -31px;
    }
        .linkid-active{
            background-position: -1068px 6px;
        }

    .tumblr{
        background-position: -936px -37px;
    }
        .tumblr-active{
            background-position: -936px 6px;
        }
    .twitter{
        background-position: -676px -40px;
    }
        .twitter-active{
            background-position: -676px 2px;
        }
    .vine{
        background-position: -130px -46px;
    }
        .vine-active{
            background-position: -128px 0;
        }
    .youtube{
        background-position: -273px -51px;
    }
        .youtube-active{
            background-position: -273px -1px;
        }
/*Country choose*/
.countries{
    padding-top: 4%;
    padding-right: 4%;
}
    .country-gallery {
        margin-top: 8%;
        position: relative;
        left: 8%;
        width: 98%;
    }
         .business-seo-wrap .container-fluid, .privilege .container-fluid, .create-comp-inner .container-fluid {
            padding: 0;
            margin: 0;
        }
        .country-wrap{
            position: relative;
            max-width: 90%;
            margin: 0 18% 35% 0;
        }
        .country-wrap:nth-last-of-type(3n){
            padding-right: 0;
        }

        .country-wrap >*{
            display: inline-block;
        }
        .country-wrap span{
            font-size: 0.85em;
            float: left;
        }
    .country-gallery .label-audience{
        box-shadow: none;
        float: right;
    }
    .country-gallery input:checked + .label-audience{
        background: #64BC85;
    }
/*icon Countries flags*/
    .country-wrap i{
        width: 24px;
        height: 24px;
        position: absolute;
        top: -2px;
        left: -30px;
        background-image: url(../img/flags-sprite.png);
        background-repeat: no-repeat;
    }
        .sprite-flag-1 {

            background-position: 0 0;
        }
        .sprite-flag-2 {

            background-position: -58px 0;
        }
        .sprite-flag-3 {
            background-position: -116px 0;
        }
        .sprite-flag-4 {

            background-position: -27px 0;
        }
        .sprite-flag-5 {
            background-position: -88px 0;
        }
        .sprite-flag-6 {
            background-position: -145px 0;
        }
.countries-selected-wrap{
    margin-top: 81%;
}
    .countries-selected-text h6 span{
        font-family: MuseoSansRegular, sans-serif;
    }

/*Select business category*/
.business-seo-wrap, .campaign-container{
    padding-bottom: 64px;
}

    .business-seo-wrap input[type=checkbox]:checked + .label-business, .campaign-container input[type=checkbox]:checked + .label-business, .approach-wrap input[type=radio]:checked + .approach-label  {
        background-color: #3bb6d9;
        color: #fff;
    }

        .label-business  {
            display: block;
            border: 1px solid #d1d1d1;
            border-radius: 8px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
            font-weight: 300;
            text-align: center;
            line-height: 6em;
            color: #787878;
            cursor: pointer;
        }
            .label-business:hover{
                background-color: #ebf1f2;
            }
            .label-business span{
                display: inline-block;
            }
            .label-business i{
                background: url(../img/bus-seo-sprite.png)no-repeat;
                display: inline-block;
            }
            .icon-bd{
                position: relative;
                top: 20px;
            }
            .label-business .seo-comp-1 {
                width: 77px;
                height: 46px;
                background-position: -3px -6px;
                left: -23px;
            }
            .label-business .seo-comp-2 {
                width: 100px;
                height: 44px;
                background-position: -86px 0;
                left: -4px;
            }
            .label-business .seo-comp-3 {
                width: 63px;
                height: 63px;
                background-position: -191px 3px;
                position: absolute;
                top: 14px;
                left: 25px;
            }
                .seo-comp-3 + span{
                  padding-left: 25px;
                }
                /*active button special class*/
                .seo-comp-1-active{
                     background-position: -3px -56px !important;
                }
                .seo-comp-2-active{
                    background-position: -86px -55px !important;
                }
                .seo-comp-3-active{
                    background-position: -191px -50px !important;
                }

/*Check campaing*/
.campaign-container{
    position: relative;
    left: -15px;
}
    .check-camp{}
        .campaign{
            line-height: 4em;
        }
/*customize slider budget*/
.budget-slider-wrap{

}
    .budget-slider-wrap:after{
        content: "";
        border-bottom: 1px solid #cecece;
        display: block;
        width: 89%;
        height: 1px;
        padding-bottom: 11%;
        margin-left: 6%;
    }
    .budget-slider-wrap .ui-slider-handle{
        background-color: rgb(59, 182, 217);
    }
    .in-budget-wr{
        padding-bottom: 24px;
        margin-left: 40%;
    }
    #slider-budget{
        width: 82%;
    }
        .in-budget-wr input{
            background: #fa8d2c;
        }
        .in-budget-wr .triangle{
            border-color:  #fa8d2c transparent transparent transparent;
           border-width: 12px 9px 0 9px;
            top: 38px;
            left: 32px;
        }
        .slider-budget-ui > div{
            display: inline-block;

        }
        .ranges{
            padding: 0 1%;
        }
    .ranges-text{
        position: relative;
        margin-top: -10px;
    }
        .ranges-text-val{
            display: inline-block;
            font-size: 0.9em;
            color: #c1c1c1;
            position: absolute;
            text-transform: uppercase;
        }

        .ranges-text-val:before{
            content: "|";
            display: block;
            font-size: 1.2em;
            color: #b7b7b7;
            margin: 0 48%;
        }
            .breakpoint-1{
                left: 6.78%;
            }
            .breakpoint-2{
                left: 33%;
            }
            .breakpoint-3{
                left: 60%;
            }
            .breakpoint-4{
                left: 76%;
            }
/* privilege usage*/
    .privilege{
        margin-top: 6%;
        background: url(../img/dotted-underline.png) repeat-x bottom center;
    }
    .privilege-inner{
        color: #626262;
        margin-left: 6%;
        padding-bottom: 5%;
    }
    .privilege  .glyphicon-ok{
        color: #fa8d2c;
    }
    .privilege span{
        padding-bottom: 30px;
    }
/*approach radio button*/
.preferable{
    padding-top: 5%;
}
.rounded-wrap{
    width: 94%;
}
.approach-item{
    margin-bottom: 20px;
}
.approach-label {
    background-color: #ebf1f2;
    display: block;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    color: #777;
}
    .approach-label .approach-text {
        font-weight: 300;
        font-size: 1em;
        line-height: 1.4em;
        text-align: left;
        padding: 3% 0 3% 3%;
        display: inline-block;
    }

    .rounded-icon{
        width: 30px;
        height: 30px;
        background: #ddd;
        border-radius: 50%;
        display: inline-block;
        margin-left: 3%;

    }
    .rounded-icon-active {
        background: transparent;
        border: 9px solid #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
/*Date start a company*/
.date-start-comp{
    margin-left: 8%;
}
    .date-start-comp .current-cat h6{
        padding-bottom: 0;
        margin-bottom: 2%;
    }
    .date-start-comp p{
        color: #a1a1a1;
    }
    .ui-datepicker .ui-datepicker-title {
        color: #797979;
        font-weight: 300;
    }
    /*Datepicker customize*/
    .date-start-comp .ui-datepicker-inline{
        border: none;
        width:50%;
    }
    .date-start-comp .ui-datepicker-header{
        background: transparent;
        border: none;
    }
    .ui-datepicker th{
        color: #3bb6d9;
    }
    .date-start-comp .ui-state-default{
        border: none;
        background: transparent;
        text-align: center;
        color: #686868;
    }
     .date-start-comp .ui-widget-content .ui-state-highlight {
        background: #3bb6d9;
        border-radius: 50%;
        border: none;
        color: #fff;
    }
    .date-start-comp .ui-state-active{
        background: #e0e0e0;
        border-radius: 50%;
    }

    .date-start-comp .ui-state-hover {
        background: #e0e0e0;
        border-radius: 50%;

    }
    .ui-icon-circle-triangle-e {
        background-position: -28px -33px !important;
    }
    .ui-icon-circle-triangle-w {
        background-position: -99px -33px !important;
     }
   /*End datepicker*/
    .check-start-wrap{
        margin-top: 18px;
    }
    .check-start-wrap>span{
        padding-left: 8px;
    }
/*797979*/
/*describe form*/
.describe-wrap{
    margin-top: 8%;
}
    .describe-area {
        border: 1px solid #d0d0d0;
        border-radius: 6px;
        background-color: #f2f2f2;
        width:65%;
        height: 138px;
        outline: none;
        color: #a1a1a1;
        font-size: 0.9em;
        padding: 10px;
        margin-top: 8px;
    }
/*submit*/
.main-submit-wrap{
    margin: 18px 0 68px 0;
}
    .main-submit{
        border-radius: 6px;
        background-color: #6fc690;
        width: 65%;
        height: 75px;
        outline: none;
        border:  none;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        font-family: MuseoSansBold, sans-serif;
    }
    .main-submit:hover{
        background-color: #3bb6d9;
    }
/*FAQ & invoices*/
.faq-wrapper {
    margin: 2% 0 0 6.4%;
}
    .faq-wrapper h4{
        font-size: 1.3em;
        color: #32474d;
        display: inline-block;
    }
   .faq-wrapper .faq{
       padding: 15px 30px;
    }
    .faq .invoices-tab{
        padding: 25px;
        margin-top: 5%;
    }

    .faq-icon-search{
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/header-icon-sprite-compr.png) -108px -3px;
        position: relative;
        right: -38px;
    }
    /*invoices*/
    .section-exterior a{
        font: 0.9em MuseoSansRegular, sans-serif;
        color: #626262;
    }
    .section-exterior a:hover, .section-exterior a:hover b {
        text-decoration: none;
        color:#3bb6d9;
    }
    .faq ul{
        padding: 0;
        margin: 0;
    }
    ul.mark-invoices{
        position: relative;
    }
    ul.mark-invoices>li{
        display: inline-block;
    }
    .mark-invoices>li:nth-of-type(2){
       margin-left: 6%;
    }
    .mark-invoices>li:nth-of-type(3){
        position: absolute;
        right: 0;
        top: 7px;
    }
    ul.mark-invoices b{
        font: 1.1em MuseoSansBold, sans-serif;
    }
        ul.sub-invoices{
            position: relative;
            top: -7px;
        }
    .faq .glyphicon-remove, .faq .glyphicon-ok {
        color: #d51d1d;
        font-size: 1.8em;
        font-weight: 100;
    }
        .faq .glyphicon-ok{
            color: #48c276;
        }
    .faq .dote-border{
          width: 81%;
          height: 5px;
          display: inline-block;
          position: relative;
          top: -3px;
          left: 25px;
          margin-top: 0;
      }
/*PDF icon*/
    .pdf-icon{
        background: url(../img/pdf-sprite.png) no-repeat;
        width: 32px;
        height: 44px;
        display: block;
        padding-top: 2px;
    }
        .pdf-icon-remove{
            background-position: 0 0;
        }
        .pdf-icon-add{
            background-position: -36px 0;
        }
        .pdf-icon-white{
            background-position: -73px 0;
        }
    /*>More*/
    .more-inv{
        border-top: 1px solid #e3e3e3;
        box-shadow: 0 -1px 0 #e7e7e7;
        text-align: center;
        margin-top: 6%;
        padding: 20px 0;
    }
        .more-inv b{
            font-family: MuseoSansBold, sans-serif;
            text-transform: uppercase;
            color: #6c6b6b;
        }
        .more-inv span .answer-item{
            font-weight: normal;
            padding-right: 8px;
            font-size: 0.8em;
        }
/*faq answer*/
.faq-head{
    padding-bottom: 3%;
}
 .faq-answer .dote-border{
    width: 100%;
     height: 2px;
     position: static;
 }
 .answer-item{
     padding-bottom: 4%;
 }
 .answer-item > p{
     color: #747474;
     font-size: 0.95em;
 }
 .faq-icon-plus{
     border-radius: 50%;
     border: 1px solid #c0c0c0;
     text-align: center;
     padding: 5px 5px 5px 7px;
     color: #c0c0c0;
     margin-right: 18px;
     cursor: pointer;
 }
 .faq-icon-minus{
     background: #353535;
     color: #fff;
     padding: 6px;
 }
    .answer-item:hover .faq-icon-plus{
        color: #2ab151;
        border-color:#2ab151;
    }
    .answer-item:hover .faq-icon-minus{
        color: #fff;
        border-color:#000
    }
    .answer-item:hover .answer-par{
        color: #2ab151;
        font-weight: 500;
    }
    .answer-item .answer-hidden{
        padding: 1% 0 0 6%;
        text-align: justify;
        color: #a1a1a1;
    }


/*Mini-chat*/
.chat{
    margin-top: 11%;
}
.chat .section-exterior{
    border-radius: 0 0 6px 6px;
}
.chat-wrapper{
    position: relative;
    left: 84px;
}
    .chat-header{
        background: #64bc85;
        border-radius: 6px 6px 0 0;
        padding: 0 35px;

    }
        .chat-header ul li{
            display: inline-block;

        }
        .chat-header ul li a{
            display: inline-block;
            color: #fff;
            text-decoration: none;
            line-height: 4em;
        }
        .chat-header ul li:nth-of-type(1):after{
            content: "";
            position: relative;
            left: 20px;
            top: 8px;
            border: 1px solid rgba(255,255,255,.6);
            height: 28px;
            display: inline-block;

        }
        .chat-header ul li:nth-of-type(2){
            float: right;
        }
        .chat-header ul li:nth-of-type(2) a{
            font-family: MuseoSansBold, sans-serif;
        }
        .triangle-round{
            font-size: 6px;
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 1px;
            position: relative;
            top: -2px;
            right: -4px;
        }
.chat-body{
    max-height: 640px;
    overflow-y: scroll;
}
    ul.chat-chatroom{
        padding-top: 40px;
    }
    .chat-chatroom li{
        padding: 0 30px 36px 45px;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        margin-top: 15px; 
    }
    .chat-chatroom i,.chat-chatroom span {
        display: inline-block;
    }
    .chat-chatroom span{
        margin-left: 28px;
    }
   .chat-chatroom .rounded-icon{
       margin: 0;
       position: relative;
       top: 9px;
       left: 0;
    }
    .chat-chatroom .badge{
        border-radius: 6px;
        background: #fa8d2c;
        color: #fff;
        position: relative;
        left: 53%;
    }
    .chat-item-info{
        color: #c5c5c5;
        font-size: 0.84em;
        text-transform: uppercase;
            padding: 85px 40px;
            text-align: center;
    }
        




