
/*Media quires*/
.navbar-toggle .icon-bar {
    background: #fff;
}
@media (min-width:960px) {
    /*change .create company in .col-md-8 in all resolution*/
    .type-blog-gallery .col-lg-3 {
        width: 20%;
    }
    .faq-wrapper .col-md-5 {
        width: 39.5%;
    }
}


@media (min-width: 1121px) and (max-width: 1680px) {
    .right-status-head .bord-s:before {
        content: "";
        left: -12px;
    }
    .text-status {
        top: 18px;
        padding-right: 24px;
    }
    .text-status p {
        margin: 0 0 0 8px;
    }
    .log-status {
        font-size: 1.6em;
    }
    .right-status-head a {
        font-size: 1.6em;
        margin-right: 20px;
    }
    .type-blog-gallery img {
        min-height: 138px;
    }
    .head-wrapper { /*change for all*/
        padding-bottom: 8px;
    }
    .prof-slide-fun {
        top: 54px;
    }
    .country-wrap {
        position: relative;
        max-width: 95%;
        margin: 0 7% 33% 0;
    }
    .countries {
        padding-right: 0;
    }
    .country-gallery {
        width: 100%;
    }
    .label-audience {
        height: 22px;
        width: 22px;
    }
    .label-business .seo-comp-3 {
        top: 2px;
    }
    .ranges {
        padding: 0 1%;
        font-size: 0.8em
    }
    .ranges-text {
        margin-top: -9px;
        z-index: 1;
    }
    .slider-budget-ui {
        position: relative;
        z-index: 2;
    }
    .ranges-text-val {
        font-size: 0.78em;
    }
    .business-seo-wrap, .campaign-container {
        font-size: 0.78em;
    }
    .privilege{
        background: none;
    }
    .privilege-inner {
        font-size: 0.8em;
    }

    /*customize datepicker*/
    .date-start-comp .ui-datepicker-inline {
        width: 60%;
    }
    .approach-label .approach-text {
        font-size: 0.8em;
        padding: 3% 0 1% 1%;
    }
    .mark-invoices > li:nth-of-type(3) {
        right: -14px;
    }
    .chat-header ul li a {
        font-size: 0.8em;
    }
   .chat-header ul li:nth-of-type(1):after {
        left: 13px;
    }
    .faq-wrapper h4 {
        font-size: 1.2em;
    }
    .faq .glyphicon-search {
        right: -22px;
    }
    /*social sprite xs*/
    .item-social {
        min-height: 34px;
        max-width: 82px;
        position: relative;
        background: url(../img/social-sprite-grid-xs.jpg);
        margin-bottom: 27px;
    }
    .facebook {
        background-position: 0 -35px;
    }
    .facebook-active{
        background-position: 0 0;
    }
    .google-plus {
        background-position: -371px -36px;
    }
    .google-plus-active{
        background-position: -371px -1px;
    }
    .instagram{
        background-position: -561px -38px
    }
    .instagram-active{
        background-position: -561px 0;
    }
    .pinterest {
        background-position: -283px -37px;
    }
    .pinterest-active{
        background-position: -286px 2px;

    }
    .linkid{
        background-position: -742px 48px;
    }
    .linkid-active{
        background-position: -741px 6px;
    }
    .tumblr{
        background-position: -658px -31px;
    }
    .tumblr-active{
        background-position: -658px 0;
    }
    .twitter{
        background-position: 353px -34px;
    }
    .twitter-active{
        background-position: 352px -5px;
    }
    .vine{
        background-position: -87px -39px;
    }
    .vine-active{
        background-position: -88px -5px;
    }
    .youtube{
        background-position: -189px -41px;
    }
    .youtube-active{
        background-position: -189px -6px;
    }
    /*social sprite xs*/
    .item-social {
        min-height: 34px;
        max-width: 82px;
        position: relative;
        background: url(../img/social-sprite-grid-xs.jpg);
        margin-bottom: 27px;
    }

    .facebook {
        background-position: 0 -35px;
    }
    .facebook-active{
        background-position: 0 0;
    }
    .google-plus {
        background-position: -371px -36px;
    }
    .google-plus-active{
        background-position: -371px -1px;
    }
    .instagram{
        background-position: -561px -38px
    }
    .instagram-active{
        background-position: -561px 0;
    }
    .pinterest {
        background-position: -283px -37px;
    }
    .pinterest-active{
        background-position: -286px 2px;

    }
    .linkid{
        background-position: -742px 48px;
    }
    .linkid-active{
        background-position: -741px 6px;
    }
    .tumblr{
        background-position: -658px -31px;
    }
    .tumblr-active{
        background-position: -658px 0;
    }
    .twitter{
        background-position: 353px -34px;
    }
    .twitter-active{
        background-position: 352px -5px;
    }
    .vine{
        background-position: -87px -39px;
    }
    .vine-active{
        background-position: -88px -5px;
    }
    .youtube{
        background-position: -189px -41px;
    }
    .youtube-active{
        background-position: -189px -6px;
    }
    /*social sprite xs*/
    .item-social {
        min-height: 34px;
        max-width: 82px;
        position: relative;
        background: url(../img/social-sprite-grid-xs.jpg);
        margin-bottom: 27px;
    }
    .facebook {
        background-position: 0 -35px;
    }
    .facebook-active{
        background-position: 0 0;
    }
    .google-plus {
        background-position: -371px -36px;
    }
    .google-plus-active{
        background-position: -371px -1px;
    }
    .instagram{
        background-position: -561px -38px
    }
    .instagram-active{
        background-position: -561px 0;
    }
    .pinterest {
        background-position: -283px -37px;
    }
    .pinterest-active{
        background-position: -286px 2px;
    }
    .linkid{
        background-position: -742px 48px;
    }
    .linkid-active{
        background-position: -741px 6px;
    }
    .tumblr{
        background-position: -658px -31px;
    }
    .tumblr-active{
        background-position: -658px 0;
    }
    .twitter{
        background-position: 353px -34px;
    }
    .twitter-active{
        background-position: 352px -5px;
    }
    .vine{
        background-position: -87px -39px;
    }
    .vine-active{
        background-position: -88px -5px;
    }
    .youtube{
        background-position: -189px -41px;
    }
    .youtube-active{
        background-position: -189px -6px;
    }
    .chat-chatroom .badge{
        left: 39%;
    }
/*dashboard client*/
    .button-alternate {
        margin-left: 16px; 
    }

     .log-status {
        font-size: 1.35em;
    }
    .right-status-head a {
        font-size: 1.35em;
    }
    .client-dash-main .fc-title {
        font-size: 0.6em;
    }
    .client-dash-main .chat-talk .chat {
        margin-top: 11%;
    }
    .send-message {
        right: 2%;
    }
     .client-dash-main .prof-slide-fun {
        min-height: 160px
     }
     /*dashboard influenser*/
    .offers .offers-wrap .offers-info-text {
        max-width: 74%;
    }
    .dash-influenser .mess-one{
      font-size: 0.73em;
    }
    .dash-influenser .table-overview .table{
      font-size: 0.8em;
    }
    .status-describe {
        padding: 4px 5px;
      }
    .status-describe .triangle {
      left: 26px;
    }
    .form-request-wrapper-l .main-button{
      font-size: 0.7em;
    }
    .form-request-wrapper-r .learn-more-premium{
        font-size: 0.7em;
        top: -32px;
        padding: 0 53px;
    }
    .requested-wrapper .table{
      font-size: 0.7em;
    }
     .offers  .left .glyphicon{
        left: -50px;
      }
     .offers  .right .glyphicon{
        right: -50px;
      }

}/*End 1680px*/

/*all smartphone*/
    @media screen and (min-width: 360px)and (max-width: 1120px){
        .navbar-collapse {
            padding-right: 15px;
            padding-left: 15px;
            overflow-x: visible;
            -webkit-overflow-scrolling: touch;
        }
        .right-status-head  .bord-s:before{
            content: "";
            border-left: none;
        }

        /*modify status in respond*/

       article{
            margin-bottom: 4%;
       }
        .log-status-xs{
            text-align: center;
            padding: 6% 0;
            position: relative;
        }
        .log-status-xs:after{
            content: "";
            background: url(../img/profile-icon-xs.png) no-repeat;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 44%;
            right: 3%;
        }
        .log-status p{
            text-align: left;
        }
        .photo-wrap{
            border: none;
            width: 60px;
            height: 60px;
        }
        .text-status{
            font-size: 0.9em;
            color: #4e4e4e;
            font-weight: 100;

        }
        .type-acc-xs{
            font-size: 0.6em;
        }
        .navbar-toggle .icon-bar {
            background: rgba(255,255,255,0.39);
            width: 50px;
            height: 5px;
            margin-bottom: 13px;
        }
        .logo{
            padding-top: 9%;
        }
        .create-comp {
            margin: 1% 0;
        }
        /*NAV*/
        .header-right {
            float: none;
            width: 100%;
        }
        .slogan-page h2 {
            border: none;
            font-size: 1.7em;
        }
        .countries-selected-wrap {
         margin-top: 2%;
        }
        .border-left {
            border: none;
            background: url(../img/dotted-underline.png) repeat-x bottom center;
        }
        .right-status-head a {
            font-size: 2.2em;
            margin-right: 20px;
            display: block;
            margin-bottom: 4%;
        }
            .right-status-head a i {
               display: none;
            }
        .type-blog-gallery img {
            min-height: 143px;
        }
        nav{
            text-align: center;
            width: 100%;
        }
        .bord-h{
            display: none;
        }
        .navbar-toggle:before{
            content: "";
            display: inline-block;
            border-left: 1px solid rgba(0,0,0 ,0.1);
            width: 1px;
            height: 114px;
            position: absolute;
            top: -28px;
            right: 97px;

        }
        .bell-respon{
            display: inline-block!important;
            background: #fa8d2c;
            padding: 8px;
            border-radius: 50%;
            font-size: 18px;
            position: absolute;
            top: 23px;
            right: 112px;
            z-index: 1;
        }
        .types-create {
            margin: 38px 0 0 0;
        }
        .type-blog-gallery .cat-name {
            font-size: 0.7em;
        }
        .label-business{
            margin-bottom: 6%;
        }
         .create-more .container-fluid{
            padding-left: 0!important;
            padding-right: 0!important;
        }
        .pad-bottom {
            padding-bottom: 30px;
        }
         /*social sprite xs*/
        .item-social {
            min-height: 34px;
            max-width: 82px;
            position: relative;
            background: url(../img/social-sprite-grid-xs.jpg);
            margin-bottom: 27px;

        }
        .facebook {
            background-position: 0 -35px;
        }
            .facebook-active{
                background-position: 0 0;
            }
        .google-plus {
            background-position: -371px -36px;
        }
            .google-plus-active{
                background-position: -371px -1px;
            }
        .instagram{
            background-position: -561px -38px
        }
            .instagram-active{
                background-position: -561px 0;
            }
        .pinterest {
            background-position: -283px -37px;
        }
            .pinterest-active{
                background-position: -286px 2px;

            }
        .linkid{
            background-position: -742px 48px;
        }
            .linkid-active{
                background-position: -741px 6px;
            }
        .tumblr{
            background-position: -658px -31px;
        }
            .tumblr-active{
                background-position: -658px 0;
            }
        .twitter{
            background-position: 353px -34px;
        }
            .twitter-active{
                background-position: 352px -5px;
            }
        .vine{
            background-position: -87px -39px;
        }
            .vine-active{
                background-position: -88px -5px;
            }
        .youtube{
            background-position: -189px -41px;
        }
            .youtube-active{
                background-position: -189px -6px;
            }
        .business-seo-wrap, .campaign-container {
            padding-bottom: 0;
        }
        .create-comp .current-cat h6 {
            padding-bottom: 28px;
        }
        .create-comp-inner {
            padding: 0 4% 0 4%;
        }
        .ranges {
            font-size: 0.7em;
        }
        .ranges:last-of-type{
            position: absolute;
            top: 5px;
            right: -16px;
        }
        .ranges-text-val {
            font-size: 0.6em;
        }
        /*push & pull blocks*/
        .create-more{
            position: static;
        }
        .social-wrap{
            margin-top: 0;
        }
        .social-inner{
            left: 4%;
        }
        .country-wrap {
            position: relative;
            max-width: 90%;
            margin-bottom:34%;
        }
        .country-gallery {
            width: 100%!important;
        }
/*page client dashboard*/
    .wrap-button {
        border-top: 1px solid #c8c8c8;
        width: 100%;
    }
    .client-dash-main article{
        width: 100%;
        margin: 4% 0;
    }
    .row-rev{
        display: flex;
        flex-direction: column-reverse;
    }
    .client-dash-main .message-textarea {
        width: 240px;
    }
    .report-right p {
        padding: 2px 6px 0 16px;
        font-size: 0.85em;
        line-height: 1.6em;
    }
    .faq-wrapper-dash .answer-item .answer-par {
        margin: 7% 0;
    }
    .answer-item p span:last-child{
        position: absolute;
    }
    .faq-wrapper-dash .answer-item:last-child{
        padding-bottom: 10%;
    }
    /*table overview responsive*/
    .table-resp-main{
       margin-top: 52px;
        vertical-align: middle;
        width: 100%;
        padding: 15px;
    }
    .top-edge{
        background: #f2f2f2;
        position: relative;
    }
        .table-resp-main tr td, .table-resp-main tr th{
            padding: 14px;
            border: 1px solid #e3e3e3;
            border-top: none;
            font-size: 1.17em;
            font-weight: 100;
            color: #5e5e5e;
        }
        .table-resp-main tr th{
            font-size: 0.9em;
            font-weight: 500;
            color: #dedede;
        }
        .table-overview-wrap{
            padding: 24px 0;
        }
            .hidden-table-bg{
                background: #43b56e;
                color: #fff;
                border-radius: 0 6px 0 0 ;
            }
       .table-status-hidden{
           background: #43b56e;
           color: #fff;
           text-align: center;
           font-size: 0.9em;
           padding: 14px 0;
           border-radius: 6px 0 6px 6px;
           opacity: 0.95;
           position: absolute;
           width: 93.7%;
           top: 150px;
           left: 15px;
       }
       .table-status-hidden .push-edge{
           padding: 8px 0;
           border: none;
       }
        .table-status-hidden tr th{
            text-align: center;
            font-weight: 300;
            color: rgba(255,255,255,0.6);
            vertical-align: middle;
            border: none;
            border-left: 1px dotted rgba(255,255,255,0.2);
            padding: 18px 0;

        }
        .table-status-hidden tr th:first-child, .table-status-hidden tr th:last-child{
            border-left: none;
        }
        .table-status-hidden tr th:last-child{
            text-align: left;
        }
        .table-status-hidden tr th:nth-of-type(4){
            text-align: left;
            padding-left: 4%;
            border-right: none;
        }
        .table-status-hidden tr th span {
            color: #fff;
            font-weight: 500;
        }

        .table-status-hidden tr td{
            border: none;
            padding-bottom: 18px;

        }
        .table-status-hidden tr .table-see-all{
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            font-family: ProximaNovaRegular, sans-serif;
        }

        .table-resp-main .glyphicon-ok{
            color: #43b56e;
            font-size: 14px;
        }
        .table-resp-main .glyphicon-triangle-bottom{
            color: #b5b5b5;
            font-size: 10px;
        }
        .client-dash-main .more-inv{
            padding-bottom: 30px ;
        }
        .client-dash-main .more-inv b {
            font-family: ProximaNovaRegular, sans-serif;
            color: #626262;
           font-weight: bold;
        }
/*payouts*/
        .inv-icon {
            padding: 17px 22px;
            border-radius: 4px 0 0 4px;
        }
        .invoices-item-wrapper .approach-label{
            margin: 22px 0;
        }
/*page dashboard influenser*/
      .dash-influenser .col-md-8{
        width: 100%;
      }
      .dash-influenser .invoices-client h2 {
        font-size: 2.1em;
      }
      .dash-influenser .text-status{
        position: relative;
      }
      /*actions*/
      .actions-item-inner p{
        max-width: 73%;
        font-size: 1.1em;
      }
      .actions-item-inner i{
       vertical-align: super;
      }
      .dash-influenser .create-comp {
           margin: 12% 1%;
      }

      .dash-influenser .client-invoices{
        margin-top: 0;
      }
/* article new offers*/
      .offers .container-fluid{
        padding: 0;
      }
      .offers .offers-wrap{
        padding: 0;
      }
      .offers .offers-wrap-info {
        margin: 0;
      }
      .offers .offers-wrap .offers-info-text{
        width: 100%;
        padding: 0;
      }
      .offers .offers-more-info{
        margin-left: 0;
      }
      .offers .offers-more-info-left {
        max-width: 100%;
        margin-right:0;
      }
      .offers .offers-more-info-left ul li {
       display: inline-block;
        padding-bottom: 0;
      }
      .offers .offers-wrap-info:after {
        border: none;
      }
      /*li social in respond*/
      .offers .offers-more-info-left .li-social-block{
        display: block;
        padding: 12px 0 6px 0;
      }
      .offers .offers-more-info-right{
        max-width: 100%;
        padding: 0;

      }
      .offers .offers-wrap .img-brand-cont {
        padding: 40px 5px;
      }
      .offers .offers-more-info-left ul li:nth-of-type(2) {
        margin-left: 10px;
      }
      /*icons*/
      .offers .offers-more-info .offers-soc-icon{
        margin-right: 2px;
      }
      .time-ago{
        color: #b3b3b3;
        font-size: 0.8em;
      }
      .button-reactions{
        margin: 40px auto ;
      }
      .rect-button{
        width: 40%;
      }
      .offers .rect-button.accept {
        margin-right: 15px;
      }

/*calendar respond dash-influenser*/
      .dash-influenser .table tr td{
        padding: 30px 8px;
      }
/*Campaign Overview dash-influenser*/
        .dash-influenser .table-status-hidden {
            width: 93.7%;
            top: 192px;
            left: 31px;
        }

 }/*End 360  */


