//.dash-influenser (class for body this page)

//header
.right-status-head {
  .bord-s{
    &:before{
      content: "";
      height: 32px;
      border-left: 1px solid #fff;
      position: absolute;
      top: 6px;
      left: -23px;
    }
  }
}
.dash-influenser{
    .text-status {
      position: static;
    }
    .button-alternate-wrapper {
      float: none;
    }
    .header-middle{
      margin-top: 10px;
    }
    .dash-influenser .name-acc{
      color: #fff;
    }
    i.speaker-plus {
      background-position: 24px 0;
    }
    //Actions
    .client-invoices .badge {
      margin-left: 8px;
      padding: 5px 7px;
    }
    .actions-item-wrapper{
      margin-top: 24px;
    }
    .dote-border{
      width: 100%;
      height: 2px;
      position: static;
      margin: 0;
    }
}
//actions block
.actions-item-inner{
    padding: 25px 0;
    >*{
      display: inline-block;
      vertical-align: middle;
    }
     i{

    }
    p{
      color: #464646;
      padding:0;
      margin: 0;
      b{
        font-family: MuseoSansBold, sans-serif;
        color: #2fa0c0;
      }
    }
    span{
      color: #afafaf;
    }
}
  //actions-sprite


.stitches(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.stitches{
  background-image: url(../img/sprite-action-icon.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 18px;

  &-1 {
    .stitches(-5px, -5px, 16px, 21px);
  }

  &-2 {
    .stitches(-31px, -5px, 20px, 18px);
  }

  &-3 {
    .stitches(-61px, -5px, 16px, 16px);
  }

  &-4 {
    .stitches(-87px, -5px, 17px, 18px);
  }

  &-5 {
    .stitches(-114px, -5px, 18px, 16px);
  }
}




