//.dash-influenser (class for body this page)
//variable:
	@accent-color: #fa8d2c;
	@border-color: #dcdcdc;
//badge waite status
@badge-wait-bg: #3bb6d9;
@badge-wait-shadow-color:#33a4c4;

//Mixins

.border-solid(@size-border:1px,@color-border){
	border: @size-border solid @color-border;
}
.border-radius(@bord-rad:6px){
	border-radius: @bord-rad;
}


//header
.right-status-head {
	.bord-s{
		&:before{
			content: "";
			height: 32px;
			border-left: 1px solid #fff;
			position: absolute;
			top: 6px;
			left: -23px;
		}
	}
}
.dash-influenser{
	.col-md-8 {
		width: 73.4%;
	}
	.invoices-client {
		margin: 18px 0;
		h2{
			font-size: 1.8em;
		}
	}
  .prof-slide-fun{
	z-index: 10;
  }
  //chat
	.chat-wrapper {
		left: 15px;
	  .old-lazy-load{
		a{
		  color: #bcbcbc;
		}
	  }

	  .select-more{
		i.icon-brand {
		  width: 37px;
		  height: 37px;
		  display: inline-block;
		  position: static;
		  background: url(../img/label-glossy.png) 0 0;
		  float: left;
		}
		span{
		  position: relative;
		  top: 3px;
		  margin-left: 18px;
		}
	  }

	}
		.text-status {
			position: static;
		}
		.button-alternate-wrapper {
			float: none;
		}
		.header-middle{
			margin-top: 10px;
		}
		.dash-influenser .name-acc{
			color: #fff;
		}
		i.speaker-plus {
			background-position: 24px 0;
		}
		//Actions
		.client-invoices .badge {
			margin-left: 8px;
			padding: 5px 7px;
		}
		.actions-item-wrapper{
			margin-top: 24px;
		}
		.dote-border{
			width: 100%;
			height: 2px;
			position: static;
			margin: 0;
		}
	//"More" aka lazy load in .dash-influenser
		.more-inv b {
			color: #b7b7b7;
		}
}

//actions block
.actions-item-inner{
		padding: 25px 0;
		>*{
			display: inline-block;
			vertical-align: middle;
		}
		 i{

		}
		p{
			color: #464646;
			padding:0;
			margin: 0;
			a{
				font-family: MuseoSansBold, sans-serif;
				color: #2fa0c0;
				text-decoration: none;
			}
		}
		span{
			color: #afafaf;
		}
}
	//actions-sprite-icon
.stitches(@x: 0, @y: 0, @width: 0, @height: 0) {
	background-position: @x @y;
	width: @width;
	height: @height;
}

.stitches{
	background: url(../img/sprite-action-icon.png) no-repeat;
	display: inline-block;
	margin-right: 18px;

	&-1 {
		.stitches(-5px, -5px, 16px, 21px);
	}

	&-2 {
		.stitches(-31px, -5px, 20px, 18px);
	}

	&-3 {
		.stitches(-61px, -5px, 16px, 16px);
	}

	&-4 {
		.stitches(-87px, -5px, 17px, 18px);
	}

	&-5 {
		.stitches(-114px, -5px, 18px, 16px);
	}
}
@conver-a: #40aecd;
//Conversations
.conversions-wrap{
	margin-top:  44px;
	position: relative;
	.dote-border{
		padding: 16px 0;
	}
		.messages-item{
			color: #3d3d3d;
			margin: 20px 11px 13px 17px;
			.mess-one a{
				font: 1em MuseoSansBold,sans-serif;
				color: @conver-a;
			}
			 .photo-in-message {
				 margin-top: 14px;
				}
				.company-label{
					width: 24px;
					height: 24px;
					display: inline-block;
					border: 1px solid #b1b1b1;
					border-radius: 50%;
					background-color: #f4f4f4;
					position: absolute;
					top: 50px;
					left: 27px;
						img{
							width: 15px;
							height: 15px;
							text-align: center;
							display: inline-block;
							margin: 15%;
						}
			}
			.mess-one{
				padding: 15px 5px 10px 24px;
				width: 78%;
				&:after{
					content: "+";
					color: #a1a1a1;
					font-weight: 100;
					font-size: 22px;
					cursor: pointer;
					position: absolute;
					top: 28%;
					right: 21px;
					transform: rotate(45deg);
				}
			}
			.time-ago{
				text-align: right;
				font-size: 0.78125em;
				color: #818181;
				margin-right: 10%;
			}
			.question {
				.triangle-first {
					top: 27px;
					left: 51px;
				}
				.triangle-second {
					top: 30px;
					left: 54px;
				}
			}
	}
	.more-inv{
		padding-top: 40px;
	}

}//End conversions-wrap
.dote-vertical{
	&:before{
		content: "";
		background: url(../img/dote-border-verical.png) repeat-y;
		display: inline-block;
		width: 2px;
		height: 100%;
		position: absolute;
		top: 6%;
		left: 0;
	}
}
.offers {
	.offers-wrap {
		padding-bottom: 45px;
		&-info {
			margin: 46px 46px;
			> div {
				display: inline-block;
			}
			&:after {
				content: "";
				border: 1px solid @border-color;
				display: block;
				margin-top: 32px;
				height: 0;
			}
		}
		.img-brand-cont {
			background: #f2f2f2;
			border: 1px solid @border-color;
			border-radius: 6px;
			padding: 35px 5px;
			vertical-align: top;
		}

		.offers-info-text {
			max-width: 78%;
			padding: 0 35px;
			h4 {
				font-size: 1.17em;
				font-family: MuseoSansBold, sans-serif;
				color: #32474d;
				margin-top: 2px;
			}
			p {
				text-align: justify;
				color: #535353;
			}
		}
	}//End offers-wrap
  //carousel
  .carousel-inner{
	padding-left: 15px;
	display: inline-block;
  }
  .carousel-control{
	background: none;
	.glyphicon{
	  color: #626262;
	  font-size: 34px;
	  text-shadow: none;
	  margin-top: 178px;
	}
  }
  .left .glyphicon, {
	left: -68px;

  }
  .right .glyphicon{
	right: -68px;
  }
  //var for buttons BG
  @rect-color-accept: #4dc179;
  @rect-color-decline: #bf2929;
  .rect-button {
	  display: inline-block;
	  color: #fff;
	  padding: 25px 40px;
	  text-transform: uppercase;
	  .border-radius();
	  font: bold 1em ProximaNovaRegular, sans-serif;
	  text-align: center;
		transition: all 0.4s ease;
	  &:hover {
		  background: @accent-color !important;
		  color: #fff;
	  }

	  &.accept {
		  background: @rect-color-accept;
		  margin-right: 10px;
	  }
	  &.decline {
		  background: @rect-color-decline;
		  min-width: 150px;
	  }
  }
	.offers-more-info {
			>div{
				display: inline-block;
			}
			&-left{
				max-width: 29%;
				margin-right: 40px;
				ul li{
				  font-family: ProximaNovaRegular, sans-serif;
				  padding-bottom: 14px;
				  &:nth-of-type(2){
					color: #b3b3b3;
					b{
					  color: #454545;
					}
				  }
				}
			}
			&-right{
				max-width: 69%;
				position: relative;
				padding-left: 45px;
				vertical-align: top;
				padding-bottom: 20px;
				.mess-item {
					img {
						margin-right: 25px;
					}
					a{
						color: #40aecd;
						font-family: MuseoSansBold, sans-serif;
					}
				}
			}
		//left information
		margin-left: 58px;
			.price-offer{
				color: #43af6b;
				font-size: 1.2em;
			  	vertical-align: middle;
				i{
					background: url(../img/other-ui-sprite.png);
					width: 27px;
					height: 21px;
					display: inline-block;
					vertical-align: sub;
				}
			}
			.offers-soc-icon {
				display: inline-block;
				border-radius: 50%;
				width: 27px;
				height: 27px;
				position: relative;
				cursor: pointer;
				&:after {
					background: url(../img/calendar-icon-sprite.png) no-repeat;
				}
			}
			.offers-soc-icon-mix (@x: 0, @y: 0, @width: 0, @height: 0, @top:0, @left:0) {
				background-position: @x @y;
				width: @width;
				height: @height;
				top: @top;
				left: @left;
			}
			.event-offers-badoo {
				background: #f48401;
				&:after {
					content: "";
					.offers-soc-icon-mix(-86px, 0, 14px, 15px, 5px, 7px);
					position: absolute;
				}
			}
			.event-offers-facebook {
				background: #065293;
				&:after {
					content: "";
					.offers-soc-icon-mix(-70px, 0, 15px, 17px, 5px, 9px);
					position: absolute;
				}
			}
			.event-offers-twitter {
				background: #62c3de;
				&:after {
					content: "";
					.offers-soc-icon-mix(-34px, 0, 19px, 14px, 7px, 7px);
					position: absolute;
				}
			}
			.event-offers-youtube {
				background: #d61818;
				&:after {
					content: "";
					.offers-soc-icon-mix(0, 0, 17px, 11px, 8px, 7px);
					position: absolute;
				}
			}
			.event-offers-pinterest {
				background: #bf2929;
				&:after {
					content: "";
					.offers-soc-icon-mix(-53px, 0, 17px, 18px, 6px, 7px);
					position: absolute;
				}
			}

	}
}//END offers

//article campaign Overview
.hourglass-icon{
	display: inline-block;
	background: url(../img/other-ui-sprite.png) -33px 0;
	width: 23px;
	height: 21px;
}

.mcdonalds-icon{
	background: url(../img/brand-macDonalds.png);
	display: inline-block;
	width: 30px;
	height: 27px;

}
.dash-influenser{
	.table-overview {
		tr td, tr th {
			border-right: 1px solid #ddd;
			padding: 20px 22px;
			&:first-child {
				text-align: center;
			}
			&:nth-of-type(2){

			}
			&:last-child {
				text-align: right;
				border-right: none;
				padding-right: 25px;
			}
			&:nth-of-type(n+3) {
				text-align: center;
			}
			&:last-child {
				text-align: right;
			}
			.glyphicon-ok {
				color: #43b56e;
			}
		}
		.table {
			 margin-top: 27px;
			tr th {
				font-family: MuseoSansBold, sans-serif;
				color: #b1b1b1;
			}
			tr td {
				color: #5e5e5e;
				&:last-child{
					color: #595959;
					font-family: MuseoSansBold, sans-serif;
				}
			}
		}
		.status-cell{
			position: relative;
		}
		.more-inv{
			margin-top: 2%;
		}
	}
	//Overview hidden
	.table-overview {
		 tr td.row-hidden {
			 text-align: left;
			 background: #43b56e;
			 .border-radius(6px 0 6px 6px);
			 position: relative;
			 top: -1px;
		}
		ul.status-hidden {
			li {
				color: rgba(255,255,255,0.6);
				display: inline-block;
				text-align: left;
				height: 100%;
				font-size: 0.9em;
				padding: 20px 10px;
				border-left: 1px dotted rgba(255,255,255,0.6);
				&:first-child, &:last-child{
					border: none;
					font-size: 18px;
				}
				&:last-child{

				}
				span{
					color: rgba(255,255,255,1);
					font-size: 1em;
				}
			}
			.table-see-all{
				font: bold 0.9em ProximaNovaRegular, sans-serif;
			}
		}
	}
}//End dash-influenser
 .status-describe{
	background: #3bb6d9;
	box-shadow: 0 3px 0 #33a4c4;
	font-family: ProximaNovaRegular, sans-serif;
	font-size: 0.6em;
	color: #fff;
	border-radius: 3px;
	padding: 4px 11px;
	position: absolute;
	bottom: -4px;
	left: 7px;
	z-index: 100;
	.triangle{
		border-color: transparent transparent @badge-wait-bg transparent;
		top: -4px;
		z-index: -1;
	}
 }




//article request prefered companies
.request-form-class{ 
		label{
			display: block;
			padding-bottom: 14px;
			color: #535353;
			font-size: 1.1em;

		}
		fieldset{
			padding-bottom: 34px;
		}
		input, textarea{
			width: 92%;
		}
		input[type="text"],textarea{
			.border-solid(1px,#c4c4c4);
			.border-radius();
			height: 48px;		
			color: #a1a1a1;
			outline: none;
			padding: 10px;
		}
		textarea{
			height: 194px;
		}
		input[type="submit"]{
			background: #4dc179;
			&:hover{
				background: #3bb6d9;
			}
		}
}//End request-form-class
//icon star
.stars-ui{
	background: url(../img/other-ui-sprite.png) -61px 0;
	width: 15px;
	height: 15px;
	display: inline-block;
}
//button accent
.premium-account-badge{
	background: @accent-color;
	padding: 12px 0 12px 18px;
	display: block;
	&:focus{
		text-decoration: none;
	}
	.border-radius();
	span{
		color: #fff;
		text-transform: uppercase;
		font-family: ProximaRegular, sans-serif;
		font-weight: bold;
		margin-left: 18px;
	}
}	
.request-wrapper{
	padding: 37px 0;
}	
.form-request-wrapper {
	&-r {
		padding-left: 6%;
		p {
			color: #636363;
			padding: 28px 25px;
			text-align: justify;
			a {
				color: #33b9df;
				font-size: 1em;
			}
		}
		.item-img {
			background: url(../img/request-img.jpg) 0 74%;
			background-size: cover;
			height: 270px;
			.border-radius();
		}
		.learn-more-premium {
			background: #51c2e2;
			position: relative;
			top: -42px;
			margin: 0 auto;
			display: block;
			padding: 0 58px;
			&:hover {
				background: #fa8d2c;
			}
		}
	}
}
//requested table companies
.request-special-pad{
	padding: 5px  55px 36px 55px;
}
.requested-wrapper{
	padding-right: 4%;
	.border-left{
		border-color: #cbcbcb;
	}
	.slogan-page h2{
		margin: 9px;
		border-bottom: none;
		font-size: 1.3em;
	}
	.table{
		border: none;
		tr th, tr td{
			padding: 0 32px 0 36px;
			vertical-align: middle!important;
			line-height: 3.2em;
		  	border: none;
		}
		tr th{
			color: #b9b9b9;
			&:nth-of-type(2){
				padding-left: 85px;
			}
		}
		tr td{
			&:first-child{
				font-family: MuseoSansBold, sans-serif;
			}
			&:nth-of-type(2){
				padding-left: 85px;
				min-width: 200px;
			}
		}	
	}
}
@req-status-color-pend: #41bce0;
@req-status-color-compl: #4dc179;
@req-status-color-failed: #cb1919;

.status-req-selector-pend{
	color: @req-status-color-pend;
}
.status-req-selector-compl{
	color: @req-status-color-compl;
}
.status-req-selector-failed{
	color: @req-status-color-failed;
}

//Article Payouts
	//ul has classes: new-invoice(blue bg), paid-invoice(green bg)
.payouts-article{
  .more-inv{
	margin-top: 4%;
  }

}
.payouts-wrapper{
  padding: 18px 36px 0 33px;
  .invoices-client {
	margin: 24px 0;
  }

  //icon upload in this page
  .pdf-icon-white {
	background-position: -103px 0;
	height: 28px;
	margin-top: 4px;
  }
  .mark-invoices
  	>li{
	  	padding-left: 27px;
		max-height: 70px;
	font-size: 1.1em;
	&:nth-of-type(2){
	  margin: 0 0 0 6px;
	}
	&:nth-of-type(3){
	  position: static;
	  font-size: 1.28em;
	  color: #626262;
	  margin-left: 2%;
	  border-left: 1px solid #dedede;
	  box-shadow: -1px 0 0 1px #f2f2f2;
	  line-height: 3em;
	}
	&:nth-of-type(4){
	  height: 100%;
	  margin-left: 21%;
	  b{
		line-height: 4em;
		font-size: 1.3em;
	  }
	}
  }
  .inv-icon {
	padding: 15px 32px;
	border-radius: 4px;
	height: 100%
  }
  .status-payouts{
	text-align: center;
	text-transform: uppercase;
	border-radius: 0 4px 4px 0;
	line-height: 5em;
	width: 24%;
	height: 100%;
	position: absolute;
	right:0;
	padding: 0 45px;
  }
  .pending-status{
	background: #eee;
	color: #b0b0b0;
	border-left: 1px solid #dbdbdb;
  }
  .payout-status{
	background: #58ba7c;
	color: #fff;
  }

}//End payouts-wrapper
