	
body{
	font: bold 16px "Verdana", Arial, sans-serif;
	overflow-x: hidden;
	width: 100%; 
}
.wrapper{
	margin: 4em auto;
	padding: 0 1em;
}

.hidden{
	display: none!important;
}
//colors
@main-bord-color: #c6c6c6;
@main-item-bg: #fff;
@main-shadow-color: rgba(0,0,0,0.6);
//mixins
.mainTrans(@time){
	-webkit-transition: all @time ease;
	-moz-transition: all @time ease;
	-ms-transition: all @time ease;
	-o-transition: all @time ease;
	transition: all @time ease;
}
.transformTraslateY(@y){
	-moz-transform: translateY(@y);
	-webkit-transform: translateY(@y);
	-o-transform: translateY(@y);
	-ms-transform: translateY(@y);
	transform: translateY(@y);
}
.blurMix(@blur){
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
}
.boxShadow(@x,@y,@blur, @color){
	box-shadow: @x @y @blur @color;
}

//plugin style
.advance-rule{
	text-align: center;
}
//button add customize
.a-btn-all{
	background: transparent;
	border: 1px solid @main-bord-color;
	display: inline-block;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	border-radius: 6px;	
	cursor: pointer;
	text-decoration: none;
	color: #6d6d6d;
	&:hover{
		background: darken(@main-item-bg, 3%);
		color: lighten(#6d6d6d,20%)!important;
	}
}
.a-btn-block{
	display: block;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0 0 6px 6px;	
}

.button-fg-inline{
	margin: 12px 0 6px 0;
	.a-btn{
	  	.a-btn-all;
	}
}
.button-fg-block{
	.a-btn{
		.a-btn-all;
		.a-btn-block;
	}	
}
//flexbox
.container-flex{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	max-width: 1140px;
	margin: 0 auto;
  &-fluid{
	max-width: 100%;
  }
  &-nowrap{
	flex-wrap: nowrap;
  }
  &-left{
	justify-content: flex-start;
  }
  &-center{
	justify-content: center;
  }
  &-right{
	justify-content: flex-end;
  }
}

//Colors for THEMES
@color-indigo: #CDF2F3;
@color-grey: #f3f3f3;
@color-lime: #CDF3CE; 

//Mixin for differents theme
.theme-selector(@color){
	background: @color!important;
	.button-fg-block a, .button-fg-inline a{
		&:hover{
			background: darken(@color, 3%)!important;
		}
	}
	.modal-button{
		.navi{
			&:hover{
				background: @color!important;
			}
		}
	}	
}
.theme-class{
	&-default{
		.theme-selector(@main-item-bg);
	}
	&-indigo{
		.theme-selector(@color-indigo);
	}	
	&-grey{
		.theme-selector(@color-grey);
	}
	&-lime{
		.theme-selector(@color-lime);
	}
}
.item {
	width: 22%;
	margin: 14px; 
	border: 1px solid #c6c6c6;
	background: @main-item-bg;
	border-radius: 4px;
	h6{
		margin: 10px 0;
		text-align: center;
		a{
			font-size: 18px;
			color: #3C3A38;
			text-decoration: none;
			&:hover{
				color: #924444;
			}
		}
	}
	p{
		font-size: 0.9em;
		font-weight: normal;
		text-align: center;
		padding: 0 5px;
	}
	.img-wrap{
		overflow: hidden;
		position: relative;
		&:hover{
			&:after{
				.mainTrans(0.7s);
				.transformTraslateY(250px);
			}
		}
		&:after{
			content: "";
			display: block;
			height: 4px;
			width: 100%;
			background: rgba(255,255,255,.6);
			position: absolute;
			top: -4px;
			left: 0;
		}
		img{
			max-width: 100%;
			height: auto;
			cursor: pointer;
			display: block;
			.mainTrans(0.6s);
			&:hover{
				transform: scale(1.2);	
			}
		}
	}//End img-wrapper

}//END item		
/*Modal*/
.modal{	
	border: 1px solid #c8c8c8;
	max-height:100%;
	.boxShadow(0,0,2px,@main-shadow-color);
	border-radius: 6px;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -23%;
	background: @main-item-bg;
	padding: 1%;
	z-index: 1000;
	&:after{
	  content: "";
	  background: url("../img/preloader.gif") no-repeat center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  display: block;
	  width: 64px;
	  height: 64px;
	  margin-left: -32px;
	  margin-top: -32px;
	  z-index: -1;
	}
	&-preview{
	    position: absolute;
	    bottom: 3%;
	    display: flex;
	    flex-wrap: nowrap;
	    align-items: flex-start;
	    justify-content: center;
	    max-width: 94.5%;
		&-img{
			margin: 0 1%; 
			&:first-child, &:last-child{
				margin: 0;
			}
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.active{
			outline: 2px solid @color-lime;
		}
	}	
}//END MODAl

.modal-backrel-view{
	 min-height: 100%;
	 background: rgba(0,0,0,.4);
}
.modal-backrel-view .wrapper {
	.blurMix(3px);
	-webkit-transition: -webkit-filter 0.1s linear;
	-moz-transition: -webkit-filter 0.1s linear;
	transition: -webkit-filter 0.1s linear;
}
.modal .modal-button{
	text-align: right;
	padding-bottom: 12px;
	a{
		cursor: pointer;
	}
	.close-button{
		color: darken(#BFB8B8, 10%);
	}
	.navi {
		position: absolute;
		top: 50%;
		border-radius: 50%;
		border: 2px solid darken(#BFB8B8, 5%);
		width: 34px;
		height: 34px;
		margin-top: -17px;
		display: block;
		&:hover{
			background: lighten(@main-bord-color, 6%);
		}
	}
	.arows-all{
		display: block;
		height: 32px;
	}
	.prev-button{
		left: -7%;
		&:after{
		content: "";			
			.arows-all;	
			background: url(../img/arrows-sprite.png) no-repeat 5px 0; 			
		}
	}
	.next-button{
		right: -7%;
		&:after{
			content: "";
			background: url(../img/arrows-sprite.png) no-repeat -38px 1px;
			.arows-all;
		}
	}	
}

@media (min-width: 769px) and (max-width: 1120px){
	.item{
		width: 46%;
	}
	.modal-backrel-view{
		.blurMix(0);
		background: transparent;
	}
	.modal{
		margin-left: -40%;
	}
}
@media (max-width: 768px){
	.item{
		width: 90%;
	}
	.modal-backrel-view{
		.wrapper{
	  		.blurMix(0);
		}
		background: transparent;
	}
	.modal{
		display: none!important;
	}
}