	
body{
	font: bold 16px "Verdana", Arial, sans-serif;
	overflow-x: hidden;
	width: 100%; 
}
.wrapper{
	margin: 4em auto;
}

.hidden{
	display: none;
}
//colors
@main-bord-color: #c6c6c6;
@main-item-bg: #f3f3f3;
//mixins
.mainTrans(@time){
	-webkit-transition: all @time ease;
	-moz-transition: all @time ease;
	-ms-transition: all @time ease;
	-o-transition: all @time ease;
	transition: all @time ease;
}
.transformTraslateY(@y){
	-moz-transform: translateY(@y);
	-webkit-transform: translateY(@y);
	-o-transform: translateY(@y);
	-ms-transform: translateY(@y);
	transform: translateY(@y);
}
.blurMix(@blur){
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
}

//plugin style
.advance-rule{
	text-align: center;
}
//button add cutomize 
.a-btn-all{
		background: transparent;
		border: 1px solid @main-bord-color;
		display: inline-block;
		padding: 10px;
		text-align: center;
		font-size: 1em;
		font-weight: normal;
		border-radius: 6px;	
		cursor: pointer;
		&:hover{
			background: darken(@main-item-bg, 3%);
		}
}
.a-btn-block{
	display: block;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0 0 6px 6px;	
}

.button-fg{
	.a-btn{
		.a-btn-all;
	}
}
.button-fg-block{
	.a-btn{
		.a-btn-all;
		.a-btn-block;	
	}	
}
//flexbox
.container-flex{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1140px;
	margin: 0 auto;
}
.item {
	width: 22%;
	margin: 14px; 
	border: 1px solid #c6c6c6;
	background: @main-item-bg;
	border-radius: 4px;

	h6{
		margin: 10px 0;
		text-align: center;
		a{
			font-size: 18px;
			color: #3C3A38;
			text-decoration: none;
			&:hover{
				color: #924444;
			}
		}
	}
	p{
		font-size: 0.9em;
		font-weight: normal;
		text-align: center;
		padding: 0 5px;
	}
	.img-wrap{
		overflow: hidden;
		position: relative;
		&:hover{
			&:after{
				.mainTrans(0.7s);
				.transformTraslateY(250px);	
			}
		}
		&:after{
			content: "";
			display: block;
			height: 4px;
			width: 100%;
			background: rgba(255,255,255,.6);
			position: absolute;
			top: -4px;
			left: 0;
		}
		img{
			max-width: 100%;
			height: auto;
			cursor: pointer;
			display: block;
			.mainTrans(0.6s);
			&:hover{
				transform: scale(1.2);	
			}
		}
	}//End img-wrapper

}//END item		
/*Modal*/
.modal{
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -25%;
	background: #f3f3f3;
	padding: 1%;
	z-index: 1000;
	border: 1px solid #c8c8c8;
}
.modal-backrel{
   
}
.modal-backrel-view{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	 min-height: 100%;
	 background: rgba(0,0,0,0.4);
	 .blurMix(3px);	
}
.modal .modal-button{
	text-align: right;
	padding-bottom: 12px;
}
.close-button{
	cursor: pointer;
}


@media (min-width: 570px) and (max-width: 1120px){
	.item{
		width: 47%;
	}
	.modal-backrel-view{
		.blurMix(0);
		background: transparent;
	}
	.modal{
		margin-left: -40%;
	}
}
@media (max-width: 569px){
	.item{
		width: 97%;
	}
	.modal-backrel-view{
		.blurMix(0);
		background: transparent;
	}
	.modal{
		display: none!important;
	}
}