body {
  overflow-x: hidden;
  width: 100%; }

.wrapper {
  width: 100%; }

header ul {
  padding-left: 0; }

header .first-bg {
  width: 100%;
  height: 340px;
  background: url("../img/day_cloud.png"); }

header .second-bg {
  width: 110%;
  height: 382px;
  background: url("../img/clouds-bg.png"); }
