body {
  font: bold 16px "Verdana", Arial, sans-serif;
  overflow-x: hidden;
  width: 100%;
}
.wrapper {
  margin: 4em auto;
}
.hidden {
  display: none;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}
.item {
  width: 22%;
  margin: 1%;
  border: 1px solid #c6c6c6;
  background: #F3F3F3;
  border-radius: 4px;
}
.item h6 {
  margin: 10px 0;
  text-align: center;
}
.item h6 a {
  font-size: 18px;
  color: #3C3A38;
  text-decoration: none;
}
.item h6 a:hover {
  color: #924444;
}
.item p {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  padding: 0 5px;
}
.item .img-wrap {
  overflow: hidden;
  position: relative;
}
.item .img-wrap:hover:after {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -moz-transform: translateY(190px);
  -webkit-transform: translateY(190px);
  -o-transform: translateY(190px);
  -ms-transform: translateY(190px);
  transform: translateY(190px);
}
.item .img-wrap:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -4px;
  left: 0;
}
.item .img-wrap img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.item .img-wrap img:hover {
  transform: scale(1.2);
}
/*Modal*/
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -25%;
  background: #f3f3f3;
  padding: 1%;
  z-index: 1000;
  border: 1px solid #c8c8c8;
}
.modal-backrel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal-backrel-view {
  background: rgba(0, 0, 0, 0.4);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.modal .modal-button {
  text-align: right;
  padding-bottom: 12px;
}
.close-button {
  cursor: pointer;
}
@media (min-width: 570px) and (max-width: 1120px) {
  .item {
    width: 47%;
  }
  .modal-backrel-view {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    background: transparent;
  }
  .modal {
    margin-left: -40%;
  }
}
@media (max-width: 569px) {
  .item {
    width: 97%;
  }
  .modal-backrel-view {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    background: transparent;
  }
  .modal {
    display: none;
  }
}
