body {
  font: bold 16px "Verdana", Arial, sans-serif;
  overflow-x: hidden;
  width: 100%;
}
.wrapper {
  margin: 4em auto;
}
.hidden {
  display: none!important;
}
.advance-rule {
  text-align: center;
}
.a-btn-all {
  background: transparent;
  border: 1px solid #c6c6c6;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #6d6d6d;
}
.a-btn-all:hover {
  background: #ebebeb;
}
.a-btn-block {
  display: block;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}
.button-fg-inline {
  margin: 12px 0 6px 0;
}
.button-fg-inline .a-btn {
  background: transparent;
  border: 1px solid #c6c6c6;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #6d6d6d;
}
.button-fg-inline .a-btn:hover {
  background: #ebebeb;
}
.button-fg-block .a-btn {
  background: transparent;
  border: 1px solid #c6c6c6;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #6d6d6d;
  display: block;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}
.button-fg-block .a-btn:hover {
  background: #ebebeb;
}
.container-flex,
.container-flex-fluid,
.container-flex-nowrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}
.container-flex-fluid {
  max-width: 100%;
}
.container-flex-nowrap {
  flex-wrap: nowrap;
}
.container-flex-left {
  justify-content: flex-start;
}
.container-flex-center {
  justify-content: center;
}
.container-flex-right {
  justify-content: flex-end;
}
.item {
  width: 22%;
  margin: 14px;
  border: 1px solid #c6c6c6;
  background: #f3f3f3;
  border-radius: 4px;
}
.item h6 {
  margin: 10px 0;
  text-align: center;
}
.item h6 a {
  font-size: 18px;
  color: #3C3A38;
  text-decoration: none;
}
.item h6 a:hover {
  color: #924444;
}
.item p {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  padding: 0 5px;
}
.item .img-wrap {
  overflow: hidden;
  position: relative;
}
.item .img-wrap:hover:after {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -moz-transform: translateY(250px);
  -webkit-transform: translateY(250px);
  -o-transform: translateY(250px);
  -ms-transform: translateY(250px);
  transform: translateY(250px);
}
.item .img-wrap:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -4px;
  left: 0;
}
.item .img-wrap img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.item .img-wrap img:hover {
  transform: scale(1.2);
}
/*Modal*/
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -25%;
  background: #f3f3f3;
  padding: 1%;
  z-index: 1000;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}
.modal:after {
  content: "";
  background: url("/img/preloader.gif") no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  z-index: -1;
}
.modal-backrel-view {
  min-height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.modal-backrel-view .wrapper {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: -webkit-filter 0.1s linear;
  -moz-transition: -webkit-filter 0.1s linear;
  transition: -webkit-filter 0.1s linear;
}
.modal .modal-button {
  text-align: right;
  padding-bottom: 12px;
}
.modal .modal-button a {
  cursor: pointer;
}
.modal .modal-button .close-button {
  color: #a79d9d;
}
.modal .modal-button .navi {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  border: 2px solid #b3abab;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  display: block;
}
.modal .modal-button .navi:hover {
  background: #dfdfdf;
}
.modal .modal-button .arows-all {
  display: block;
  height: 32px;
}
.modal .modal-button .prev-button {
  left: -7%;
}
.modal .modal-button .prev-button:after {
  content: "";
  display: block;
  height: 32px;
  background: url(../../img/arrows-sprite.png) no-repeat 5px 0;
}
.modal .modal-button .next-button {
  right: -7%;
}
.modal .modal-button .next-button:after {
  content: "";
  background: url(../../img/arrows-sprite.png) no-repeat -38px 1px;
  display: block;
  height: 32px;
}
@media (min-width: 570px) and (max-width: 1120px) {
  .item {
    width: 47%;
  }
  .modal-backrel-view {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    background: transparent;
  }
  .modal {
    margin-left: -40%;
  }
}
@media (max-width: 569px) {
  .item {
    width: 97%;
  }
  .modal-backrel-view {
    background: transparent;
  }
  .modal-backrel-view .wrapper {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
  .modal {
    display: none!important;
  }
}
